/* Reseteando los valores por defecto de algunos navegadores */
html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
h1{font-size:138.5%;}h2{font-size:123.1%;}h3{font-size:108%;}h1,h2,h3{margin:1em 0;}h1,h2,h3,h4,h5,h6,strong,dt{font-weight:bold;}optgroup{font-weight:normal;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}del{text-decoration:line-through;}blockquote,ul,ol,dl{margin:1em;}ol,ul,dl{margin-left:2em;}ol li{list-style:decimal outside;}ul li{list-style:disc outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}sup{vertical-align:super;}sub{vertical-align:sub;}p,fieldset,table,pre{margin-bottom:1em;}button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
/* Fin de reseteado de los valores por defecto de algunos navegadores */

@font-face {
    font-family: '176MKSDAL';
    src: url('../fonts/176mka/176mka_acentos-webfont.eot');
    src: url('../fonts/176mka/176mka_acentos-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/176mka/176mka_acentos-webfont.woff') format('woff'),
         url('../fonts/176mka/176mka_acentos-webfont.ttf') format('truetype'),
         url('../fonts/176mka/176mka_acentos-webfont.svg#176MKSDAL') format('svg');
    font-weight: normal;
    font-style: normal;

}


#contenedor{
	position:absolute;
	width: 100%;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#contenido{
	width: 1038px;
	margin:0 auto;
}
#cabecera{
	width: 1038px;
	height: 262px;
	background: url(../img/home/cabecera.jpg);
}

#menu_content{
	background: url(../img/home/bg_body_contenido.png) repeat-y;
}
#menu{
	width:1002px;
	height: 45px;
	margin:0 auto;
	background: url(../img/home/sombra.png) no-repeat top;	
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	opacity: 30;*/
}

#cuerpo{
	background: url(../img/home/bg_body_contenido.png) repeat-y;
	width: 1038px;
	overflow:hidden;
}

#cuerpo_contenidos{
	width: 1002px;
	margin: 0 auto;
}

#sombreado_sup{
	background: url(../img/home/sombra_supCuerpo.png) no-repeat top;
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter:alpha(opacity=10);	
	opacity: 0.1;*/
	height:18px;
	width: 1002px;
	position:absolute;
	z-index: 2;
}
#home_content{
/*	top: -18px;*/
	min-height: 588px;
	background: url(../img/home/bg_img1.png) left top no-repeat;
	position:relative;
	z-index: 1;
}

#eslogan_home_es, #eslogan_home_en{
	position:relative;
	top: 30px;
	left: 15px;
	background: url(../img/home/eslogan_es.png) no-repeat;
	width: 226px;
	height: 143px;
}

#eslogan_home_en{
	background: url(../img/home/eslogan_en.png) no-repeat;
}

.izquierda{float:left}
.derecha{float:right}
.right{float:right}
.linkable{cursor: pointer}
.oculto {display: none;}
.negrita{font-weight:bold}
.normal{font-weight:normal}

#content-vallas{
	position:relative;
	top:30px;
	right: 10px;
}

#content-vallas-presenciales{
	position:relative;
	top:30px;
	right: 10px;
	
}

#vallas{
	position:relative;
	z-index: 3;
	height:268px;
}

.rounded-border{
	width: 602px;
	height: 268px;
	overflow:hidden;
	border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px
	-webkit-border-radius: 25px
	-khtml-border-radius: 25px;	
	clip: shape;
	behavior: url(/assets/PIE/PIE.htc);
}

#content-vallas .base, #content-vallas-presenciales .base{
	position:relative;
	top: -25px;
	background: url(../img/home/base_valla.png) no-repeat;
	width: 602px;
	height: 50px;
	z-index:1;
}

#botoneraItems{
	margin-left:5px;
}

ul.items_menu{
	margin: 0;
	padding-top: 14px;
}
.items_menu li{
	display: inline;
	background-image: url(../img/home/ico_menu.png);
	background-repeat: no-repeat;
	background-position: 0px -2px; 
	padding-left: 20px;
	font-size: 13px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	margin-right: 15px;
	text-transform: capitalize;
	cursor: pointer;
}

.item_menu_pulsado{
	color: #169fdc;
	cursor: auto !important;
	background-image: url(../img/home/ico_menu_pulsado.png) !important;
	background-position: 0 -1px !important;
	padding-top: 3px !important;
}

.item_menu_pulsado a{
	color: #169fdc !important;
/*	cursor: auto !important;*/
	text-decoration: none;
}



.items_menu a{
	color: #000000;
	text-decoration: none;
}

.items_menu a:hover, .item_menu_pulsado a:hover{
	color: #169fdc !important;
	cursor: pointer !important;
	text-decoration: none;
}

.items_menu a:visited{
	color: #000000;
	text-decoration: none;
}

.trebuchet13{
	font-size: 13px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.azul{ color: #169fdc; }
.clear{ clear: both; }

#phone_txt{
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-right: 5px;
}
#lang_select{
	text-transform: capitalize;
	padding: 15px 25px 0 0px;
}

#lang_select div:first-child{
	position:relative;
	width: 80px;
	height: 35px;
	top: -5px;
}

ul.lang{
	margin:2px 20px 0px 0px;
}
	
.lang li{
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 6px;
}

#cab_slogan{
	position: relative;
	padding-top: 22px;
	height: 130px;
	width: 365px;
	top:30px;
	left: 165px;
	color: #000000;
	font-size: 20px;
	font-family: '176MKSDAL';
	font-weight: bold;
	overflow: hidden;
}

.txt_slogan1{ 
	margin-left: 25px;
	width: 270px;
}
.txt_slogan2{
	margin-left: 95px;
	width: 270px;
}
.txt_slogan3{
	margin-left: 95px;
	width: 270px;
}
.txt_slogan4{
	margin-left: 125px;
	margin-right: 10px;
	width: auto;
}

.comillaInicial{
	background: url(../img/home/comilla_inicial.png) no-repeat;
	width: 34px;
	height: 33px;
	margin-left: 50px;
	margin-right: 10px;
}

.comillaFinal{
	background: url(../img/home/comilla_cierre.png) no-repeat;
	width: 34px;
	height: 33px;
}
   
#carrito{
	position:relative;
	width: 100px;
	top: 27px;
	float:right;
	right: 240px;
}
	
.orange, .orange a{
	color: #f26e17;
	font-weight: bold;
	text-decoration: none;
}

.orange a:hover{
	text-decoration:underline;
}

#metodo{
	position:relative;
	top:150px;
	left: 15px;
	width: 179px;
}

#img_metodo_es, #img_metodo_en{
	background: url(../img/home/metodo_es.png) no-repeat;
	width: 179px;
	height: 22px;
}

#img_metodo_en{ background: url(../img/home/metodo_en.png) no-repeat; }

#txt_metodo{
	width: 80%;
	margin: 20px 0 20px 0;
}

.boton_general, .boton_mas, .boton_anterior{
	position:relative;
	height: 20px;
	background-image: url(../img/home/boton_gral.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
}

.boton_general a{
	color: #000000;
	text-decoration: none;
}

.boton_mas{	background-image: url(../img/fichas/ver.png); }
.boton_anterior{ background-image: url(../img/compra/bot_back.png); margin-right: 25px}

.boton_general:active{
	top: 1px;
}

.boton_general span, .boton_mas span, .boton_anterior span{ 
	position: relative;
	margin-left: 30px;
	top:3px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
 }

a.iframe:link, a.iframe:hover{
	color: #000000;
	text-decoration: none;	
}
	
a.iframe:visited{
	color: #000000;
	text-decoration: none;
}

#base_buttons{
	position:relative;
	top: 25px;
	height: 23px;
	padding-left: 50px;
}

#txt_dch_home{
	width: 520px;
	margin-top: 40px;
	margin-left: 40px;
}

.txt_inf_home{
	width: 239px;
	height: 162px;
}

#txt_cursosPresenciales_es, #txt_cursosPresenciales_en{
	width: 226px;
	height: 25px;
	background: url(../img/home/presenciales_es.png) no-repeat;
}

#txt_cursosPresenciales_en{ background: url(../img/home/presenciales_en.png) no-repeat; }

#txt_cursosOnline_es, #txt_cursosOnline_en{
	width: 170px;
	height: 25px;
	background: url(../img/home/online_es.png) no-repeat;
}

#txt_cursosOnline_en{ background: url(../img/home/presenciales_en.png) no-repeat; }

#pie{
	height: 150px;
	background: url(../img/home/bg_pie.png) no-repeat;
}

#pie_bottom{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -93px;
	z-index: -1;
	height: 243px;
	background-color: #dedede;
}

#pie_content{
	position:relative;
	top:40px;
	width: 960px;
	margin: 0 auto;
	height: 62px;
}

#btn_fb_like{
	margin-right: 0px;
}

#btn_footer{
	margin-top: 42px;
	margin-left: 60px;
	width: 200px;
}
	
#btn_contacto{
	float: left;
	margin-right: 15px;
	color: #5a5a5a;
	text-transform: capitalize;
	font-weight: bold;
}

#btn_notaLegal{
	float: left;
	color: #5a5a5a;
	text-transform: capitalize;
	font-weight: bold;
}

#marca{
	margin: 42px 0px 0 60px;
}
	
.txt_blanco{
	color: #ffffff;
}

.logoFD{
	margin-left: 5px;
	float:left;
	width: 82px;
	height: 22px;
	background: url(../img/home/logoFD.png) no-repeat;
}

#redes_sociales{
	float: left;
	margin: 21px 0 0 30px;
}

#red_gplus{
	position:relative;	
	overflow:hidden; 
	height: 22px;
}

#red_gplus .plus{
	position: relative;
	top:6px;
}

#red_gplus .plus:hover{
	position: relative;
	top:0px;
}

/*#red_gplus, #red_gplus:hover{
	background: url(../img/home/redes_sociales.gif) -7px 24px;
	width: 25px;
	height: 22px;
}
#red_gplus:hover{ background: url(../img/home/redes_sociales.gif) -7px 0px; }*/

#red_linkedin, #red_linkedin:hover{
	background: url(../img/home/redes_sociales.gif) -44px 24px;
	width: 25px;
	height: 22px;
	margin-left: 10px;
}

#red_linkedin:hover{ background: url(../img/home/redes_sociales.gif) -44px 0px;}


#red_twitter, #red_twitter:hover{
	background: url(../img/home/redes_sociales.gif) -77px 24px;
	width: 25px;
	height: 22px;
	margin-left: 10px;	
}

#red_twitter:hover{ background: url(../img/home/redes_sociales.gif) -77px 0px;}
	
#red_facebook, #red_facebook:hover{
	background: url(../img/home/redes_sociales.gif) -110px 24px;
	width: 25px;
	height: 22px;
	margin-left: 10px;
} 

#red_facebook:hover{ background: url(../img/home/redes_sociales.gif) -110px 0px;}

#txt_siguenos{
	text-align:right;
	color: #ffffff;
}

.titular{
	font-family: '176MKSDAL';
	font-size: 20px;
	text-transform: capitalize;
	font-weight:bold;
}

.titular-normal{
	font-family: '176MKSDAL';
	font-size: 20px;
	font-weight:bold;
}

.titulos{
	font-family: '176MKSDAL';
	font-size: 15px;
}

.contenidosIzquierda{
	width: 700px;
	padding: 30px 0 10px 20px;
}

.textos-interiores{
	padding: 15px 0 0 0px;
}

.btn_carrito, .btn_carrito:hover{
	background: url(../img/online/carro.png) no-repeat;
	width: 158px;
	height: 61px;
}

.btn_carrito:hover{
	background: url(../img/online/carro_hover.png) no-repeat;
}

.txt_int_carrito{
	position:relative;
	font-family: '176MKSDAL';
	color: #ffffff;
	font-weight:bold;
	width: 70px;
	height: 26px;
	top: 15px;
	left: 70px;
}

#listaCursos, #compra-tbl{
	border: 0;
	width: 100%;
}

#compra-tbl{
	margin:20px 0 10px 5px;
}

#listaCursos thead{
	border-bottom: 10px solid #ffffff;
}

#compra-tbl thead{
	border-bottom: 5px solid #eaeaea;
}

#compra-tbl tfoot{
	border-top: 2px solid #eaeaea;
}

#listaCursos th, #compra-tbl th{
	background-color: #c0c0c0;
	color: #000000;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	border: 0;
	padding: 0px 0px 0px 5px;
	text-align:left;
}

#th_carrito{
	padding: 0px !important;
}

#listaCursos td, #compra-tbl td{
	border: 0;
	background-color: #e4e4e4;
}

#listaCursos td a{
	font-weight:bold;
}

#carrito_tabla{
	position:relative;
	background-color: #ffffff;
	text-align:left;
	width: 100%;
	height: 19px;
}

#contents-online{
	min-height: 632px;
	background:url(../img/online/img_lateral.png) right top no-repeat;
}

#contents-online .textos-interiores{
	text-align: justify;
}

#textoOnline2{
	width: 530px;
	margin-right: 10px;
	font-size:11px;
}

#lateral_online{
	position: relative;
	top: 50px;
}

.panel-dch-sup{
	width: 210px;
	margin: 0 20px 0 0px;
}

.panel-dch-sup p{
	font-family: '176MKSDAL';
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin-left: 25px;
}

.panel-dch-sup .boton_general{
	width: 60%;
}

.panel-dch-sup .boton_general span{
	display: block;
}

.panel-dch-inf{
	width: 210px;
	position:relative;
	margin-top: 240px;
}

.panel-dch-inf .error_txt{
	font-weight: bold;
	margin: 10px 0 0 50px;
}

#feedback-cupon{
	color: #000000;
	margin: 10px 0 0 50px;
}

.panel-dch-inf p{
	font-family: '176MKSDAL';
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	margin-left: 25px;
}

.panel-dch-inf .blanco{
	font-size: 20px;
	margin-left: 40px;
	margin-bottom: 3px;
	width: 150px;
}

.panel-dch-inf input{
	margin: 2px 0 0 43px;
}

.panel-dch-inf .cajatexto{
	border: 0;
	background:transparent;
	width: 160px;
}

.panel-dch-inf .boton_general{
	margin: 20px 0px 0 70px
}

.blanco{ color: #ffffff; }	

#content-empresas{
	
}
#content-caja{
	width: 750px;
}
.caja-sup{
	width: 750px;
	height: 33px;
	background: url(../img/comun/cajaBlanca_sup.png) no-repeat;
}
.caja-bottom{
	width: 750px;
	height: 33px;
	background: url(../img/comun/cajaBlanca_inf.png) no-repeat;
}

.degradadoDerecha{
/*	background:url(../img/comun/bg_lateral.png) repeat-y;*/
}

.imgSuperiorDerecha{
	background:url(../img/comun/lateral_imgSup.png) right no-repeat;
	width: 100%;
	height: 56px;
}

#content-derecha-empresas{
	width: 252px;
}

/* capas dependientes altura*/
#caja_izq{
	width: 1002px;
/*	margin: 20px auto;*/
	overflow: auto;
	background: url(../img/comun/cajaBlanca_inf.png) left bottom no-repeat;
}

#caja_der{
	width: 1002px;
	float: right;
	background:url(../img/comun/bg_lateral.png) right top repeat-y;
}

.lateral-nivel{
	width: 252px;
	height: 438px;
	background: url(../img/empresas/lateral_nivel.png) no-repeat;
}

.lateral-campus-es, .lateral-campus-en{
	width: 246px;
	height: 269px;
	background: url(../img/empresas/lateral_campus_es.png) no-repeat;
	float:right;
}

.lateral-campus-en{
	background: url(../img/empresas/lateral_campus_en.png) no-repeat;
}
.lateral-inferior{
	width: 153px;
	height: 119px;
	background: url(../img/comun/lateral_imgInf.png) no-repeat;
}

.grafica{
	width: 750px;
	height: 75px;
	background: url(../img/empresas/grafica.gif) no-repeat;
	padding: 18px 0 0 22px;
}

.grafica div{
	font-family: '176MKSDAL';
	font-weight: bold;
	font-size: 16px;
	width: 130px;
	margin-left:11px;
	text-align: center;
}

.top20{ margin-top: 20px}
.top10{ margin-top: 10px}

ul.listados{ 
	margin:0;
	padding: 0;
	list-style-type: none;
}

ul.listados li{
		list-style-type: none;
	background-image: url(../img/comun/bullet2.png);
	background-repeat: no-repeat;
	background-position: 0px 5px; 
	padding-left: 14px;
}

.textos-cajas{
	padding: 10px 20px 10px 30px;
}

.logosEmpresas{
	width: 320px;
	margin: 15px auto;
}

#logoBulats{
	width: 169px;
	height: 51px;
	background: url(../img/empresas/bulats.gif) no-repeat;
}
#logoDele{
	width: 111px;
	height: 83px;
	background: url(../img/empresas/dele.gif) no-repeat;	
}

#txt-lateral-empresas{
	position: relative;
	top: 105px;
	float: right;
	right: 10px;
	width: 200px;
}

#txt-lateral-empresas .titulos{
	font-weight:bold;
	font-size: 18px;
	width: 170px;
}

a:link{ text-decoration:none;}
a:hover{text-decoration:none;}
a:visited{text-decoration:none;}

a.enlaces , a.enlaces:visited{
	color: #169fdc;
	text-decoration: none;
}

a.enlaces:hover{
	color: #169fdc;
	text-decoration: underline;	
}

.lateral-costa-es, .lateral-costa-en{
	width: 252px;
	height: 321px;
	background: url(../img/universidades/lateral_costa_es.png) no-repeat;
}

.lateral-costa-en{ background: url(../img/universidades/lateral_costa_en.png) no-repeat;}

.lateral-demo{
	width: 227px;
	height: 383px;
	background: url(../img/universidades/lateral_demo.png) no-repeat;
	float: right;
}

#txt-lateral-universidades{
	position:relative;
	float:right;
	width: 180px;
	top: 160px;
}

#txt-lateral-universidades .titulos{
	font-weight: bold;
	font-size: 18px;
	width: 160px;
	text-align:center;
}

.letra-capital{ text-transform: capitalize}

.lateral-podcast-es{
	width: 252px;
	height: 309px;
	background: url(../img/campus/lateralPodcast_es.png);
}
.lateral-podcast-en{
	width: 252px;
	height: 309px;
	background: url(../img/campus/lateralPodcast_en.png);
}

.lateral-demo-campus{
	width: 227px;
	height: 395px;
	float:right;
	background: url(../img/campus/lateralDemo.png);
}

#txt-lateral-campus{
	position:relative;
	top: 170px;
	width: 170px;
	float: right;
	right: 10px;
}

#txt-lateral-campus .titulos{
	font-weight: bold;
	font-size: 14px;
	text-align:center;
	width: 130px;
	margin:0 auto;
}

#txt-lateral-campus .azul{
	font-size: 18px;
	width: 145px;
	text-align:center;

}

#campus_send, #demo_send{
	border:0;
	background:none;
	margin: 6px 0px 0px 5px;
}

#txt-lateral-campus .boton_general{
	margin: 20px 0px 0 50px;
}

#loginCampus{
	background: url(../img/campus/login.png) no-repeat;
	height: 143px;
	width: 750px;
}

#loginCampus #formu_CampusLogin{
	position: relative;
	top: 25px;
	float: right;
	right: 40px;
	width: 250px;
}

#formu_CampusLogin .cajatexto{
	border: 0;
	background:transparent;
	width: 143px;
}

#fset_login label{
	display: inline-block;
	margin-bottom: 22px;
	width: 90px;
	color: #ffffff;
}

.vimeoVideo{
	width: 686px;
	margin: 20px auto 0 auto;
}

#form_contacto{
	padding: 10px 20px 10px 30px;
}

#form_contacto .izquierda,  #form_contacto .derecha{
	width: 330px;
}

#form_contacto label{
	display:block;
	width: 100%;
}

.input_contacto{
	font-size: 12px;
	width: 315px;
	height: 31px;
	border:0;
	padding-left: 5px;
	padding-right: 5px;
	background: url(../img/contacto/f_input.gif) top left no-repeat ;
	
}

.textarea_contacto{
	font-size: 12px;
	width: 682px;
	height: 89px;
	padding: 8px;
	border:0;
	background: url(../img/contacto/textarea.gif) top left no-repeat;
}

#botonera-contacto{
	width: 300px !important;
}

#botonera-contacto .boton_general{
	font-size: 12px;
	width: 140px;
}

#botonesFormu{
	margin-top: 20px;
}

.error_txt{ color: #000000 }
.rojo{ color: #f00}
.sup-ficha{
	padding-left: 20px;
}

#info-curso{
	width: 720px;
	padding: 20px 0 20px 0;
}

#info-pack{
	width: 236px;
}

.info-content{
	margin-left: 30px;
}

#titulo-ficha{
	font-family: '176MKSDAL';
	font-size: 14px;
	font-weight:bold;
	margin-bottom: 10px;
}

.ficha-horas{
	padding-left: 20px;
	background-image: url(../img/fichas/reloj.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.caja-naranja{
	margin-top: 10px;
	background-color: #f26e17;
	width: 367px;
	padding: 5px 0 5px 15px;
}

.flecha-caja-naranja{
	position:relative;
	top: 16px;
	width:7px;
	height: 14px;
	background: url(../img/fichas/pico_dcha.png) no-repeat;
}

#botonera-ficha-online{
	margin-top: 10px;
}

#botonera-ficha-online .boton_general{
	font-size: 12px;
}

.info-compra-ficha{
	position:relative;
	top: 35px;
}

.dudas{
	width: 158px;
	text-align: center;
}

.pack-ahorro-vacio{
	width: 236px;
	height: 218px;
	background: url(../img/fichas/packAhorro_vacio.png);	
}

.ficha-esq-facebook{
	width: 236px;
	height: 319px;
	background: url(../img/fichas/facebook.png);		
}

.pack-ahorro_es{
	width: 236px;
	height: 218px;
	background: url(../img/fichas/packAhorro_es.png);
}

.resumen-ficha{
	margin-top: 20px;
}

.btn_productos_c{
	margin-top: 30px;
	font-size:12px;
}

#caja-naranja-pack{
	position:relative;
	top: 135px;
	width: 90px;
	margin: 0 0 0 85px;
	padding: 5px 10px 5px 10px;
	background-color: #f26e17;
	text-align: center;
	font-weight:bold;
	font-size: 18px;
}

.flecha-caja-naranja-sup{
	position:relative;
	top: 135px;
	margin-left: 85px;
	width: 90px;
	height: 7px;
	background: url(../img/fichas/pico_arriba.png) 48px 0 no-repeat;
}

#carrito_pack{
	padding-left: 60px;
	
}

#pestanas-online{
	margin-top: 10px;
}

#head_tags{
	width: 940px;
	margin: 0 auto;
	background: url(../img/fichas/fichaSombra_sup.png) bottom no-repeat;	
}
	
#tags_nav{

}

#tags_body{
	width: 940px;
	margin: 0 auto;
	background-color: #f4f4f4;
}

.tags, .tags:hover{
	font-family: '176MKSDAL';
	color: #5a5a5a;
	font-weight:bold;
	font-size: 14px;
	background:transparent;
	padding: 5px 10px 5px 10px;
}

.tags:hover{
	color: #169fdc;	
	background-color: #f4f4f4;
	cursor:pointer;
}

.tag-pulsado{
	font-family: '176MKSDAL';
	color: #169fdc;	
	background-color: #f4f4f4;
	font-weight:bold;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	cursor: default !important;
}

#footer_tags{
	width: 940px;
	height: 12px;
	margin: 0 auto;
	background: url(../img/fichas/fichaSombra_inf.png);
}

#tag-contenidos-content{
	min-height: 650px;
	background: url(../img/fichas/contenidos_productos.png) bottom right no-repeat;
}

.tag-contenidos-content-background-none{
	background: none !important;
}

#tag-demo-content{
	height: 525px;
	background: url(../img/fichas/demo_bannerLateral.png) bottom right no-repeat;
}

#tag-pago-content{
	padding: 45px 15px 15px 15px;
	text-align:justify;
}

#tag-pago-content .boton_general{ margin-top: 20px}

.lateralDemo{
	width: 230px;
}

#txt-lateral-demos{
	position:relative;
	top: 50px;
	width: 160px;
	float: right;
	right: 20px;
}

#txt-lateral-demos .titulos{
	font-weight:bold;
	font-size: 12px;
	text-align: center;
	margin-bottom: 18px;
}

#txt-lateral-demos .blanco{
	font-size: 18px;
	margin-bottom: 8px;
}

#txt-lateral-demos .boton_general{
	margin: 10px 0 0 50px;
}

#tag-examen-content{
	padding: 0 30px 0 30px;
}

#tag-examen-content .texto{
	width: 380px;
	padding: 10px 10px 10px 30px;
	text-align:justify;
}

.exam_bulats{
	width: 416px;
	height: 104px;
	background: url(../img/fichas/examen_bullats.png) no-repeat;
}
.exam_dele{
	width: 416px;
	height: 104px;
	background: url(../img/fichas/examen_dele.png) no-repeat;
}

#map_metodo_es{
	width: 551px;
	height:	486px;
	background: url(../img/fichas/graficaMetodo_es.gif);
}

#map_metodo_en{
	width: 551px;
	height:	486px;
	background: url(../img/fichas/graficaMetodo_en.gif);
}

ul.productos-incluidos{
	margin: 20px 60px 0 0;
	line-height: 50px;
}

.productos-incluidos li{
	list-style-type:none;
	font-family: '176MKSDAL';
	font-size: 16px;
	font-weight:bold;
	color: #ffffff;
	text-align: right;
	cursor: pointer;
}

.productos-incluidos li:hover{
	color: #000000;
}

/*#btn-fb-recomendar{
	width: 700px;
	text-align:right;
	border: 1px solid;
}
*/

.fb-like{
	float:right;
	margin-bottom:20px;
}
	
#columna-productos{
	position:relative;
	top: 40px;
	width: 205px;
}

#productos-tooltip{
	position: absolute;
	border: 2px solid #169fdc;
	background-color: #ffffff ;
	width: 300px;
	border-radius: 25px;
	padding: 20px;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	-khtml-border-radius: 5px;	
	clip: shape;
	behavior: url(/assets/PIE/PIE.htc);
}

#demo-vimeo{
	width: 680px;
	overflow: hidden;
	margin: 55px 0 0 22px;
}

.logoPaypal{
	width: 133px;
	height: 56px;
	background: url(../img/fichas/pago_paypal.png);
}

.paypal_txt{
	margin-right: 10px;
	width: 760px;
}

#cursos-presenciales-content-sup{
	padding: 30px 15px 0 15px;
}

#cursos-presenciales-content-sup .texto{ padding-top: 15px; text-align: justify}

#cursos-presenciales-content-sup .izquierda{
	width: 318px;
}

#cursos-presenciales-content-inf{
	margin-top: 20px;
	margin-left: 20px;
}

#cursos-presenciales-content-inf .izquierda{
	width: 696px;
}

#cursos-presenciales-content-inf .derecha{
	width: 265px;
	height: 640px;
	background: url(../img/presenciales/lateral_intro.png) right bottom no-repeat;
}

.bordeBlanco{
	border-top: 5px solid #ffffff;
}
#presenciales-blq-derecha{
	position:relative;
	top: 470px;
	width: 180px;
	font-family: '176MKSDAL';
	font-size: 14px;
	font-weight:bold;
	text-align:center;
	margin-left: 49px;
}

#presenciales-blq-derecha .blanco{
	font-size: 20px;
	margin-bottom: 3px;
}

#presenciales-blq-derecha .boton_general{
	width: 100px;
	margin-left: 35px;
}

#conversor-moneda{
	
}

#ficha-presenciales-content .izquierda{
	padding: 20px 0 0 10px;
	width: 605px;
	overflow:hidden;
}

#ficha-presenciales-content #titulo-ficha{
	margin-left: 25px;
}

.img-ficha-presenciales{
	width: 215px !important;
	min-height: 305px;
/*	background: url(../img/fichas/img_intensive.png) no-repeat;*/
	padding: 0 !important;
}

.campoverano{
	background: url(../img/presenciales/img_camp.png) no-repeat;
}

.espanolgastronomia{background: url(../img/presenciales/img_gastronomico.png) no-repeat;}
.espanolgolf{background: url(../img/presenciales/img_golf.png) no-repeat;}
.espanolintenso{background: url(../img/presenciales/img_intensive.png) no-repeat;}
.espanolindustriaturismo{background: url(../img/presenciales/img_turismo.png) no-repeat;}

#tabla-presenciales-content{
	margin-top: 15px;
}
#tabla-presenciales{
	width: 380px !important;
}

#tabla-presenciales .texto{
	margin-bottom: 15px;
}

#presenciales-tbl{
	width: 100%;
	margin-bottom: 0px;
}

#presenciales-tbl td{
	border: 0;
	border-bottom: 3px solid #ffffff;
	color: #ffffff;
	background-color: #169fdc;
}

#masInfo-presenciales{ width: 100%;}

#masInfo-presenciales td{
	border: 0;
	background-color: #dedede;
}

#lateral-ficha-presenciales{
	width: 379px;
	min-height: 365px;
	background: url(../img/fichas/lateral_programa.png) top right no-repeat;
}

#txt-lateral-presenciales-1{
	width: 155px !important;
	margin: 10px 0 0 50px;
}

#txt-lateral-presenciales-1 .boton_general{
	margin-left: 20px;
}

#txt-lateral-presenciales-2 .boton_general{
	margin-left: 25px;
}

#txt-lateral-presenciales-1 p, #txt-lateral-presenciales-2 p{
	font-family: '176MKSDAL';
	text-align:center;
}
#txt-lateral-presenciales-1 p, #txt-lateral-presenciales-2 .blanco{width: 150px; font-size: 18px; margin:0 auto;}
#txt-lateral-presenciales-2 p{font-size: 14px; font-weight:bold}

#txt-lateral-presenciales-2{
	height: 190px;
	width: 197px;
	margin-top: 15px;
	margin-right: 10px;
}

#pestanas-presenciales .izquierda{
	padding: 0 !important;
	width: auto !important;
}

#tag-programa-content .izquierda{
	padding-left: 15px !important;
	width: 500px !important;
}

#tag-programa-content .derecha{
	width: 300px;
	min-height: 330px;
}

#programa_es{ background: url(../img/fichas/img_programa_es.png) top right no-repeat; }
#programa_en{ background: url(../img/fichas/img_programa_en.png) top right no-repeat; }
#programa_pt{ background: url(../img/fichas/img_programa_po.png) top right no-repeat; }

#pestanas-presenciales .tags{
	padding: 5px 10px 5px 10px !important;
}

#tag-programa-content .texto-lateral{
	width: 84px;
	font-family: '176MKSDAL';
	font-size: 17px;
	text-align: center;
	color: #ffffff;
	float: right;
	margin: 245px 16px 0 0;
}

#tag-entorno-content .izquierda{
	width: 500px !important;
	padding-left: 15px !important;
}

#tag-entorno-content .derecha{
	width: 305px;
	min-height: 500px;
}

#entorno_es { background: url(../img/fichas/lateral_entorno_es.png) top right no-repeat; }
#entorno_en { background: url(../img/fichas/lateral_entorno_en.png) top right no-repeat; }
#entorno_pt { background: url(../img/fichas/lateral_entorno_po.png) top right no-repeat; }

#btn_conoce_costa{
	width: 160px;
/*	margin: 410px 0 0 170px;*/
	margin-top: 15px;
}

#btn_conoce_costa span{
	display: block;
}

#tag-alojamiento-content .izquierda{
	width: 500px !important;
	margin-left: 15px !important;
}

#tag-alojamiento-content .derecha{
	width: 297px;
	min-height: 390px;
}

#alojamiento_es{ background: url(../img/fichas/lateral_alojamiento_es.png) top right no-repeat; }
#alojamiento_en{ background: url(../img/fichas/lateral_alojamiento_en.png) top right no-repeat; }
#alojamiento_pt{ background: url(../img/fichas/lateral_alojamiento_po.png) top right no-repeat; }

#tag-alojamiento-content .boton_general{
	/*margin: 390px 0 0 0;*/
	margin-top: 15px;
}

#tag-alojamiento-content .boton_general span{
	/*display: block;*/
}

#tag-escuela-content li{
	margin-bottom: 10px;
}

#tag-escuela-content .izquierda{
	width: 500px !important;
	padding-left: 15px !important;
}

#tag-escuela-content .derecha{
	min-height: 450px;
	width: 266px;
}

#escuela_es{ background: url(../img/fichas/lateral_escuela_es.png) top right no-repeat; }
#escuela_en{ background: url(../img/fichas/lateral_escuela_en.png) top right no-repeat; }
#escuela_pt{ background: url(../img/fichas/lateral_escuela_po.png) top right no-repeat; }

#tag-escuela-content .boton_general{
	/*margin: 440px 0 0 20px;*/
	margin-top: 15px;
}

#tag-actividades-content .izquierda{
	width: 500px !important;
	padding-left: 15px !important;
}

#tag-actividades-content .derecha{
	width: 266px;
	min-height: 517px;
}

#actividades_es{ background: url(../img/fichas/lateral_actividades_es.png) top right no-repeat; }
#actividades_en{ background: url(../img/fichas/lateral_actividades_en.png) top right no-repeat; }
#actividades_pt{ background: url(../img/fichas/lateral_actividades_po.png) top right no-repeat; }

#dudas-txt-presenciales{
	margin-top: 170px;
	margin-right: 30px;
}

#btn-otros-programas{
	margin: 10px 0 10px 32px;
}

#compras-content{
	padding: 15px 20px 15px 20px;
}

#steps-bar{
	margin-top: 30px;
	width: 954px;
	height: 50px;
	background: url(../img/compra/barra_procesos.png) no-repeat;
}

.pasos{
	width: 180px;
	margin: 5px 5px 0 5px;
}

#step1 .number_process{
	width: 39px;
	height: 39px;
	background: url(../img/compra/proceso1_pulsado.png) no-repeat;
	float: left;
}

#step2{	margin-right: 6px; } 

#step2 .number_process{
	width: 39px;
	height: 39px;
	float: left;
}

.proceso2_activo{ background: url(../img/compra/proceso2_pulsado.png) no-repeat; }
.proceso2_inactivo{ background: url(../img/compra/proceso2.png) no-repeat; }

.proceso3_activo{ background: url(../img/compra/proceso3_pulsado.png) no-repeat; }
.proceso3_inactivo{ background: url(../img/compra/proceso3.png) no-repeat; }

.proceso4_activo{ background: url(../img/compra/proceso4_pulsado.png) no-repeat; }
.proceso4_inactivo{ background: url(../img/compra/proceso4.png) no-repeat; }

.proceso5_activo{ background: url(../img/compra/proceso5_pulsado.png) no-repeat; }
.proceso5_inactivo{ background: url(../img/compra/proceso5.png) no-repeat; }

#step3{	margin-right: 20px; } 

#step3 .number_process{
	width: 39px;
	height: 39px;
	float: left;
}

#step4 .number_process{
	width: 39px;
	height: 39px;
	float: left;
}

#step5{	
	width: 150px;
	margin:5px 0 0 0px;
} 

#step5 .number_process{
	width: 39px;
	height: 39px;
	float: left;
}
.txt_process{
	float:left;
	margin: 3px 0 0 2px;
}

.txt_process span{
	display:block;
}

.txt_process .p_titulo{
    font-family: '176MKSDAL';
	font-size: 16px;
	color: #5a5a5a;
}
	
.txt_process .p_subtitulo{
	font-size: 11px;
	font-weight: bold;
	color: #169fdc;
}

/*caja numero de items*/

.item_box{
	width: 60px;
	height: 17px;
	border: 1px solid #dedede;
	text-align:center;
}

.decrementar, .incrementar{
	width: 16px;
	height: 17px;
	cursor: pointer;
	float:left;
	background: url(../img/comun/base_cantidad.png) no-repeat;
}
.incrementar{ color: #f26e17 }

.numItems{
	width: 27px;
	height: 17px;
	float:left;
	background-color: #ffffff;
}

.contents-steps-sup{
	width: 940px;
	height: 11px;
	background: url(../img/comun/fichaSombra_sup.png) no-repeat;
}

.contents-steps-inf{
	width: 940px;
	height: 12px;
	background: url(../img/comun/fichaSombra_inf.png) no-repeat;
}

.contents-steps{
	width: 940px;
	padding: 10px 0 20px 10px;
	background-color: #eaeaea;
}

.mayuscula{ text-transform: uppercase}

#step1-content .indicador{
	background: url(../img/compra/1.png) left no-repeat;
	padding: 5px 0 0 25px;
	height: 21px;
}

#compra-paso1{
	width: 700px;
}

#lateral-compra{
	width: 221px;
	height: 216px;
	background: url(../img/compra/cupon.png) no-repeat;
}

#txt-lateral-compra{
	width: 160px;
}

.txt-compra-es{	margin: 45px 0 0 33px; }
.txt-compra-en{	margin: 31px 0 0 33px; }

#txt-lateral-compra .blanco{
	font-family: '176MKSDAL';	
	font-size: 16px;
	font-weight: bold;
	text-align:center;
	margin-bottom: 1px;
}

#txt-lateral-compra .texto{
	font-family: '176MKSDAL';	
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

#txt-lateral-compra input{
	width: 145px;
	border: 0;
	background: none;
	margin: 5px 0 15px 4px;
}

#txt-lateral-compra .boton_general{
	margin-left: 40px;
}

.next-step{ 
	margin: 15px 14px 0 0;
}

#step2-content .indicador{
	background: url(../img/compra/2.png) left no-repeat;
	padding: 5px 0 0 25px;
	height: 21px;
}

.formu-margen{
	margin: 15px 20px 5px 5px;
}

#datos-personales1, #datos-personales2{
	width: 435px;
}

#datos-personales1 label, #datos-personales2 label{
	display: block;
	width: 135px;
	float:left;
	margin-bottom: 3px;
}

#datos-personales1 input[type="text"], #datos-personales2 input[type="text"], #reg_usuarios input{
	float:left;
	width: 289px;
	border: 1px solid #5a5a5a;
	margin-bottom: 3px;
}

#step3-content .indicador{
	background: url(../img/compra/3.png) left no-repeat;
	padding: 5px 0 0 25px;
	height: 21px;
}

#step3-content .boton_general{
	margin-right: 28px;
}
	
#step4-content .indicador{
	background: url(../img/compra/4.png) left no-repeat;
	padding: 5px 0 0 25px;
	height: 21px;
}

#contenedor_txt_paypal, #txt_transfer{
	margin-top: 15px;
}

#txt_paypal{
	width: 724px;
	margin-right: 48px;
}

#txt_paypal .texto{
	width: 650px;
	margin-left: 10px;
}

#txt_transfer .texto{
	width: 887px;
	text-align:justify;
	margin-left: 10px;
}

#total-paso4{
	width: 600px;
	margin-left: 22px;
	background-color: #f26e17;
	padding: 3px 30px 3px 30px;
}

#total-paso4 .texto, #total-paso4 .precio{
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
}
#step5-content{
	height: 21px;
	margin: 3px 30px 0 0;
}

#step5-content .boton_general span{
	font-size: 12px;
}
	
#step5-content .indicador{
	background: url(../img/compra/5.png) left no-repeat;
	padding: 0px 0 0 25px;
	height: 21px;
}

#titulo-carrito{
	margin-bottom: 15px;
}

.carrito-tbl{
	width: 350px;
}

.carrito-tbl th{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;	
	font-size: 10px;
	text-transform: uppercase;
	background-color: #c0c0c0;
	border:0;
	text-align: left;
}

.carrito-tbl td{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 12px;
	border: 0;
	text-align: left;
}

.subtotal{
	background-color: #c0c0c0;
}

#revisar-comprar{
	text-align: right;
}

a.footer-links, a.footer-links:hover, a.footer-links:visited{
	color: #5a5a5a;
	text-decoration: none;	
}

a.footer-links:hover{
	text-decoration: underline;
}

#content-notaLegal .texto, #content-politica{
	width: 770px;
	height: 500px;
	overflow:auto;
}

#content-notaLegal .textos-cajas, #content-politica .textos-cajas{
	text-align: justify;
}

.txt_ul_title{ 
	font-weight: bold;
	margin: 10px 0 5px 0;
}

#content-notaLegal .titulos{
	margin-left: 20px;
}

.celda_separacion{
	height: 3px;
	background-color: #ffffff !important;
}

.caja-cambio-divisa{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px !important;
	background-color: #c0c0c0;
	padding: 5px 10px;
	border-radius: 5px 5px;
	-ms-border-radius: 5px 5px;
	-moz-border-radius: 5px 5px
	-webkit-border-radius: 5px 5px
	-khtml-border-radius: 5px 5px;	
	clip: shape;
	behavior: url(/assets/PIE/PIE.htc);	
}

.margen-inf20{ margin-bottom: 20px}

.lang-select-list{
	width: 72px;
}

.lang-select-list li{
	margin: 0;
	padding: 0;
	float:left;
}

.barra{
	margin: 0;
	padding: 0;
	font-weight: normal !important;
}

.top-5{
	margin-top: -5px;
}

#content-bulats{
	width: 416px;
	margin: 0 auto;
}

#content-bulats .texto{
	text-align: justify;
	padding: 10px 25px 10px 25px;
}

#tag-contenidos-content .texto{
	margin-left: 10px;
	margin-bottom:10px;
	width: 600px;
}

#graficaOnetoOne{
	width: 834px;
	margin: 0 auto;
}

#tag-metodo-content{
	padding: 20px 15px;
}

#metodo-txt{
	width: 308px;
	text-align: justify;
}

.paypal_pago{
	margin-top: 15px;
	margin-bottom: 15px;
}

.listaActividades li{
	list-style-type: none;
}

.listaActividades ul{ 
	margin-top: 0px;
}

#tag-programa-content, #tag-entorno-content, #tag-alojamiento-content, #tag-escuela-content, #tag-actividades-content{ padding-bottom: 20px}
/*#tag-contenidos-content, #tag-metodo-content, #tag-demo-content, #tag-examen-content, #tag-pago-content{ padding-bottom: 20px}*/

#cargando{
	text-align: center;
	margin-top: 15px;
}

#fset_login .boton_general{
	margin-left: 150px;
	cursor: pointer !important;
}

#bloc-flash{
	width: 830px;
	margin:10px auto;
}

#tag-examen-content .boton_general{
	margin-left: 30px;
	margin-bottom: 15px;
}

#textos-pack{
	color: #169fdc;	
	font-family: '176MKSDAL';	
	font-size: 17px;
	font-weight: bold;
	width: 190px;
	padding: 16px 0 10px 35px;
	text-align: center;
}

.ficha-esq-facebook .boton_general{
	margin-left: 87px;
}

#tag-funinfo-content .texto{
	width: 500px !important;
}

#tag-funinfo-content ul{
	text-align: justify;
}

#tag-funinfo-content li{
	margin-bottom: 10px;
}

#tag-funinfo-content li a{
	color: #169fdc;	
}

#tag-funinfo-content li a:hover{ text-decoration: underline;}

#tag-funinfo-content .derecha{
	width: 263px;
	min-height: 455px;
}

#funinfo_es{ background: url(../img/fichas/lateral_funinfo_es.png) top right no-repeat;}
#funinfo_en{ background: url(../img/fichas/lateral_funinfo_en.png) top right no-repeat;}

#pepe_link{
	margin: 36px 0 0 20px;
}

.total{
	background-color: #f26e17 !important;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}

.noItems_cart{
	margin: 10px;
	color: #f26e17;
	font-weight: bold;
}

.marcarInput{
	border:1px solid #f00;
	background-color: #F78181;
}

#error_mails{
	float:left;
}

.error-compra{
	background-color: #f26e17;
	color: #ffffff;
	font-weight:bold;
	display:none;
	float:left;
	padding: 7px;
	margin-top: 5px;
}

.rounded-border-auto{
	overflow:hidden;
	border-radius: 15px;
	-ms-border-radius: 15px;
	-moz-border-radius: 15px
	-webkit-border-radius: 15px
	-khtml-border-radius: 15px;	
	clip: shape;
	behavior: url(/assets/PIE/PIE.htc);
}

.cerrar{
	width: 16px;
	height: 16px;
	margin-left: 15px;
	background: url(../img/comun/cerrar.png) no-repeat;
	cursor:pointer;
}

.alumno{
	font-weight:bold;
}

#usuarios-list{
	margin: 20px 0px 20px 5px;
}
	
#usuarios-list li{
	list-style-type: none;
}

#usuarios-list ol li{
	list-style-type: decimal;
}

#reg_usuarios input{
	width: 280px;
	margin-left: 10px;
	float:none;
}

#content-msgs{
	
}

#error-img{
	width: 549px;
	height: 333px;
	background: url(../img/mensajes/gracias_error.png) no-repeat;
}

#error-img .texto{
	color: #ffffff;
	margin: 110px 0 0 39px;
	width: 194px;
	text-align:center;
}

#mensaje{
	width: 430px;
	padding: 0 10px 0 10px;
	margin: 100px 0 0 0;	
}ç