{% extends "Manager/ComunesPresenciales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Consulta</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th></th>
				<th colspan="4" class="center">Precio</th>
			</tr>
			<tr>
				<th>Nombre</th>
				<th class="right">EUR</th>
				<th class="right">USD</th>
				<th class="right">RBR</th>
				<th class="right">GBP</th>
			</tr>
		</thead>
		<tbody>
			{% for comunPresencial in comunesPresenciales %}
				<tr class="selectable" onclick="view({{ comunPresencial.id }})">
					<td>{{ comunPresencial.nombre }}</td>
					<td class="right">{{ comunPresencial.precioEUR? comunPresencial.precioEUR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ comunPresencial.precioUSD? comunPresencial.precioUSD|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ comunPresencial.precioRBR? comunPresencial.precioRBR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ comunPresencial.precioGBP? comunPresencial.precioGBP|number_format(2,',','.'): '' }}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9" class="right">
					<a href="{{ '/manager/comunesPresenciales/edit'|basePath }}" class="btn btn-primary">
						<i class="icon-plus"></i> Nuevo
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<form id="viewForm" method="get" action="{{ '/manager/comunesPresenciales/view'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function view(id) {
	        $('#viewForm input[name="id"]').val(id);
	        $('#viewForm').submit();
	    }
	</script>
{% endblock %}
