{% extends "Manager/ComunesPresenciales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Ver</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="get" action="{{ '/manager/comunesPresenciales/edit'|basePath }}">
		<input type="hidden" name="id" value="{{ comunPresencial.id }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Nombre</label>
				<div class="controls">
					<span class="input-xxlarge uneditable-input">{{ comunPresencial.nombre }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Precio</label>
				<div class="controls">
					<span class="input-small uneditable-input right">{{ comunPresencial.precioEUR? comunPresencial.precioEUR|number_format(2,',','.'): '' }} &euro;</span><br/>
					<span class="input-small uneditable-input right">{{ comunPresencial.precioUSD? comunPresencial.precioUSD|number_format(2,',','.'): '' }} $</span><br/>
					<span class="input-small uneditable-input right">{{ comunPresencial.precioRBR? comunPresencial.precioRBR|number_format(2,',','.'): '' }} R$</span><br/>
					<span class="input-small uneditable-input right">{{ comunPresencial.precioGBP? comunPresencial.precioGBP|number_format(2,',','.'): '' }} &pound;</span>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
				<a href="#" onclick="remove({{ comunPresencial.id }}); return false" class="btn btn-warning"><i class="icon-trash"></i> Borrar</a>
				<a href="{{ '/manager/comunesPresenciales/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Volver</a>
			</div>
		</fieldset>
	</form>
	
	<form id="removeForm" method="get" action="{{ '/manager/comunesPresenciales/delete'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function remove(id) {
	    	if (confirm("¿Desea eliminar este elemento?")) {
		        $('#removeForm input[name="id"]').val(id);
		        $('#removeForm').submit();
	    	}
	    }
	</script>
	
{% endblock %}
