{%extends 'template.html.twig'%}

{% block javascript %}
{{ parent() }}
<!-- include Cycle plugin -->
<script type="text/javascript" src="/assets/js/home.js"></script>
<script type="text/javascript" src="/assets/js/jquery.cycle.all.js"></script>        
{% endblock%}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera") }}
{% endblock %}
{%block content%}

<div id="home_content">
	{{ macros.quienespepe() }}
	<div class="izquierda">
		<div id="eslogan_home_{{ lang }}"></div>
		<a id="link_bulats" href="#content-flashpepe"><div class="boton_general" id="pepe_link"><span>{% trans "quienpepe" %}</span></div></a>
		<div id="metodo">
			<div id="img_metodo_{{ lang }}"></div>
			<div id="txt_metodo">{% trans "txt_metodo" %}</div>
			{% if lang == 'es' or lang == 'pt'%}
				{% set videoruta = '/assets/swf/metodo_es.swf'|basePath %}
			{% endif %}
			{% if lang == 'en'%}
				{% set videoruta = '/assets/swf/metodo_en.swf'|basePath %}
			{% endif %}
			<a id="metodo_fl" href="{{ videoruta }}"><div class="boton_general"><span>{% trans "ver_video"%}</span></div></a>
		</div>
	</div>
	<div class="derecha">
		<div id="content-vallas">
			<div id="vallas">
				<div class="slideshow rounded-border">
					{% for valla in vallas %}
						<img src="{{ (uploadURL ~ valla.fichero) | basePath}}">
					{% endfor %}
				</div>
			</div>	
			<div class="base">
				<div id="base_buttons">
					{% for i in range(0, vallas|length - 1) %}
						<img src="/assets/img/home/b_valla_blanco.png" id="bot_valla_{{ i }}" name="bot_valla_{{ i }}" pulsado="false"/>
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="txt_dch_home">
			<div class="txt_inf_home izquierda">
				<div id="txt_cursosPresenciales_{{ lang }}"></div>
				<p>{% trans "txt_cursosPresenciales" %}</p>
				{% if lang == 'es' or lang == 'pt'%}
					{% set rutaciomijas = 'http://www.ciomijas.com/portal/video/video.htm' %}
				{% endif %}
				{% if lang == 'en'%}
					{% set rutaciomijas = 'http://www.ciomijas.com/portal_ingles/video/video.htm' %}
				{% endif %}
				<a class="iframe" href="{{ rutaciomijas }}"><div class="boton_general"><span>{% trans "ver_video"%}</span></div></a>
			</div>
			<div class="txt_inf_home derecha">
				<div id="txt_cursosOnline_{{ lang }}"></div>
				<p>{% trans "txt_cursosOnline" %}</p>				
				<a href="{{ '/site/campus'|basePathLang(lang) }}"><div class="boton_general"><span>{% trans "ver_demo"%}</span></div></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
{%endblock%}