{% macro trans_raw(key) %}
	{% set txt_cabecera = key|trans %}
	{{ txt_cabecera|raw }}
{% endmacro %}

{% macro formularioLogin() %}
<form id="formu_CampusLogin" action="http://plataforma.spanischool.com/index.php">
	<fieldset id="fset_login">
		<label for="campus_user">{% trans "usuario" %}</label>
		<input type="text" name="login" id="campus_user" class="cajatexto"/>
		<label for="campus_pass">{% trans "clave" %}</label>
		<input type="password" name="password" id="campus_pass" class="cajatexto"/>
		<div class="boton_general"><span>{% trans 'enviar' %}</span></div>
	</fieldset>
</form>
{% endmacro %}

{% macro politicaPrivacidad(lang) %}
<div class="oculto">
	 <div id="content-politica">
		<div class="texto">
		 	<div class="titulos"><span class="titulos letra-capital">{% trans "nota" %}</span><span class="azul">{% trans "legal" %}</span></div>
			<div class="textos-cajas">
				<ol>
					{% if lang == 'es' %}
			            <li>
			                <div class="txt_ul_title">DATOS PERSONALES</div>
			                <p>En cumplimiento de lo dispuesto en el artículo 5 de la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, le informamos que sus datos de carácter personal que sean recogidos en la presente página serán incorporados a un fichero denominado CONTACTOS del que es responsable FORMACION DIGITAL. Estos datos de carácter personal son recogidos con la finalidad siguiente: GESTION DE CLIENTES Y CONTACTOS GENERADOS EN NUESTRA WEB Y LA ATENCION DE LAS CONSULTAS O SOLICITUDES QUE SE REALICEN A TRAVES DE LOS FORMULARIOS DE LA MISMA, ASÍ COMO EL ENVÍO DE COMUNICACIONES COMERCIALES. Los destinatarios de esta información sólo y exclusivamente serán los trabajadores de nuestra empresa.</p>
							<p>Por último le informamos que puede ejercitar los derechos de acceso, rectificación, cancelación y oposición en FORMACION DIGITAL en la dirección indicada: C/ Judería, 2. Edif. Vega, 2. Planta Baja, 41900 Camas (Sevilla).</p>
			            </li>
					{% elseif lang == 'en' %}
			            <li>
			                <div class="txt_ul_title">PERSONAL INFORMATION</div>
								<p>The personal data requested in any of the forms for this Portal will be processed according to the current and relevant legislation. </p>
			            </li>					
					{% endif %}
				</ol>	
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro notalegal(lang) %}
<div class="oculto">
	 <div id="content-notaLegal">
		<div class="texto">
	 	<div class="titular"><span class="letra-capital">{% trans "nota" %}</span><span class="azul">{% trans "legal" %}</span></div>
		<div class="textos-cajas"><ol>
			{% if lang == 'es' %}
	            <li>
	                <div class="txt_ul_title">TÉRMINOS GENERALES DE USO</div>
	                Todos los derechos de propiedad industrial e intelectual del sitio web www.spanischool.com, así como de los elementos contenidos en los mismos (imágenes, sonidos, audio, vídeo, software o textos), pertenecen a la empresa Formación Digital S.L. o, en su caso, a terceras personas. El contenido del portal podrá ser visualizado por cualquier Usuario e incluso podrá ser impreso, copiado y almacenado en el disco duro de su ordenador o en cualquier otro soporte físico siempre y cuando sea, única y exclusivamente, para su uso personal y privado, quedando, por tanto, terminantemente prohibida su utilización con fines comerciales, su distribución, así como la modificación y/o alteración de los mismos. Formación Digital S.L. declina cualquier responsabilidad respecto a la información que se halle fuera de esta web y no sea directamente gestionada por nuestra empresa. Además, el Portal proporciona el acceso a determinadas informaciones o datos pertenecientes a terceras personas de los que la empresa no se hace responsable, no haciéndose la empresa responsable, ni directa ni subsidiariamente, de las reclamaciones que puedan derivarse de su fiabilidad o exactitud.
	            </li>
	            <li>
	                <div class="txt_ul_title">OBLIGACIÓN DE UN USO CORRECTO DEL PORTAL Y SUS SERVICIOS</div>
	                El Usuario se compromete a utilizar el Portal de Formación Digital S.L. y sus servicios según establece la legislación vigente, las condiciones generales mencionadas en esta web, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público. Así, se hace fundamental el seguimiento explícito del siguiente código de conducta: No limitar o inhabilitar el acceso de otros usuarios a este portal. No publicar o transmitir el código fuente ni información falsa, fraudulenta, ilegal, abusiva, difamatoria, obscena o similar. No publicar o trasmitir materiales que violen los derechos de autor o copyright de terceras partes.
	            </li>
	            <li>
	                <div class="txt_ul_title">CONTENIDOS</div>
	                El Usuario deberá abstenerse de conseguir informaciones, gráficos, diseños, sonidos, imágenes y/o cualquier otro tipo de contenido que se incluya en este Portal o en cualquiera de sus servicios, empleando para ello medios distintos a los indicados explícitamente en el lugar en el que se encuentran dichos contenidos o, en general, de los que se emplean habitualmente en Internet, siempre y cuando no impliquen ningún tipo de riesgo de daño y/o inutilización de este sitio weh o cualquiera de sus contenidos. A ello, hay que añadir que el Usuario de forma correcta y lícita, se compromete a: No realizar un uso de los contenidos contrario a la ley, a la moral y a las buenas costumbres. No reproducir, copiar, distribuir, transformar, modificar o difundir a través de cualquier medio cualquiera de los contenidos del Portal sin expresa autorización escrita de Formación Digital S.L.
	            </li>
	            <li>
	                <div class="txt_ul_title">ENLACES A www.spanischool.com</div>
	                Los Usuarios que deseen establecer un enlace desde su página web a la dirección www.spanischool.com deberán cumplir las condiciones que se mencionan a continuación: Permitirá el acceso a la citada dirección, es decir, a la web de Formación Digital S.L., pero no podrá reproducir sus contenidos sin autorización expresa (ver punto 3 del presente Aviso Legal). No se efectuarán manifestaciones o indicaciones erróneas o inexactas sobre cualquiera de los contenidos de esta web y/o sus servicios. La página web desde la que se establezca el enlace no contendrá ningún tipo de indicación comercial que pudiera ser relacionada, directa o indirectamente, con Formación Digital S.L. Cuando el usuario haga clic en el enlace en cuestión verá la página www.spanischool.com tal cual, es decir, sin ningún tipo de navegador ni elemento de diseño que no pertenezca al mencionado Portal.
	            </li>
	            <li>
	                <div class="txt_ul_title">DATOS PERSONALES</div>
	                <p>En cumplimiento de lo dispuesto en el artículo 5 de la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, le informamos que sus datos de carácter personal que sean recogidos en la presente página serán incorporados a un fichero denominado CONTACTOS del que es responsable FORMACION DIGITAL. Estos datos de carácter personal son recogidos con la finalidad siguiente: GESTION DE CLIENTES Y CONTACTOS GENERADOS EN NUESTRA WEB Y LA ATENCION DE LAS CONSULTAS O SOLICITUDES QUE SE REALICEN A TRAVES DE LOS FORMULARIOS DE LA MISMA, ASÍ COMO EL ENVÍO DE COMUNICACIONES COMERCIALES. Los destinatarios de esta información sólo y exclusivamente serán los trabajadores de nuestra empresa.</p>
					<p>Por último le informamos que puede ejercitar los derechos de acceso, rectificación, cancelación y oposición en FORMACION DIGITAL en la dirección indicada: C/ Judería, 2. Edif. Vega, 2. Planta Baja, 41900 Camas (Sevilla).</p>
	            </li>
	            <li>
	                <div class="txt_ul_title">GARANTÍAS Y RESPONSABILIDAD</div>
	               	Formación Digital no garantiza la continuidad y la disponibilidad del funcionamiento del sitio web www.spanischool.com y de cualquiera de sus Servicios. El Usuario será advertido de cualquier posible problema o alteración previamente, siempre que sea posible. Formación Digital S.L. sí se hace responsable de la disponibilidad y del funcionamiento del Centro Virtual de Formación al que se accede desde www.spanischool.com. La empresa declina cualquier tipo de responsabilidad por daños o perjuicios derivados de la falta de disponibilidad o de continuidad de cualquier página web de www.spanischool.com. Además, Formación Digital declina cualquier obligación que pudiese provocar la obtención de información por parte de terceras personas no autorizadas al efecto sobre los Usuarios del Portal y sus Servicios. Formación Digital perseguirá el incumplimiento de las anteriores condiciones así como cualquier utilización indebida del presente sito web ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.
	            </li>
			{% elseif lang == 'en' %}
	            <li>
	                <div class="txt_ul_title">GENERAL TERMS OF USE</div>
	                All the industrial and intellectual property rights of the website www.spanischool.com, as well as the elements contained in it (images, sounds, audio, video, software or texts) belong to the company Formación Digital S.L. or, where applicable, to third parties. The content of the portal can be viewed by any User and it can even be printed, copied and stored on the hard disk of the User’s computer or any other hardware as long as it is solely and exclusively for personal and private use. Therefore, its commercial use, its distribution, as well as any modification and/or alteration of the content is strictly forbidden. Formacion Digital S.L. does not accept any responsibility for the information that can be found outside this website and which is not directly managed by our company. In addition, the Portal provides access to certain information or data belonging to third parties for which the company does not accept responsibility. The company does not accept responsibility, directly or collaterally, for any claims which could result from the reliability or precision of this information. 
	            </li>
	            <li>
	                <div class="txt_ul_title">OBLIGATION FOR A CORRECT USE OF THE PORTAL AND ITS SERVICES</div>
	                The User agrees to use the Formación Digital S.L. portal and its services according to what is set out in current law, the general conditions stated on this website, as well all generally accepted morals and ethical standards. The User also agrees to act in a way which will not harm the publics' interest. Thus, it is necessary to expressly abide by the following code of conduct: Do not limit or inhibit other users from accessing this portal. Do not publish or transmit the source code or false, fraudulent, illegal, abusive, defamatory, obscene or similar information. Do not publish or transmit materials which violate the copyright of the author or third parties. 
	            </li>
	            <li>
	                <div class="txt_ul_title">CONTENTS</div>
	                The User must not obtain or attempt to obtain any information, graphics, designs, sounds, images and/or any other type of content included on this Portal or on any of its services through any means not intentionally made available through this site or, in general terms, through means other than those typically used on the internet. This information can be obtained as long as it does not involve any risk of damage or leaving the website or any of its content unusable. Furthermore, the User agrees in a legal and correct manner to: Not use the content in breach of the law, moral code or good practice. Not reproduce, copy, distribute, alter, modify or distribute any of the Portal’s contents via any means without the express written authorisation of Formación Digital S.L. 
	            </li>
	            <li>
	                <div class="txt_ul_title">LINKS TO www.spanischool.com</div>
	                Users wishing to set up a link from their webpage to www.spanischool.com must comply with the following conditions: The link will allow access to the aforementioned web address, i.e. the website of Formación Digital S.L., but the reproduction of its contents without express authorisation will not be allowed (see point 3 of these Terms and Conditions). False or inaccurate statements or suggestions on any of the content of this website and/or its services will not be made. The webpage where the link is set up will not contain any type of commercial statement which could imply a connection, either directly or indirectly, with Formación Digital S.L. When the User clicks on the link in question he/she will see the webpage www.spanischool.com exactly as it is, i.e. without any type of browser or any design element which does not belong to the aforementioned Portal. 
	            </li>
	            <li>
	                <div class="txt_ul_title">PERSONAL INFORMATION</div>
	                <p>The personal data requested in any of the forms for this Portal will be processed according to the current and relevant legislation. </p>
	            </li>
	            <li>
	                <div class="txt_ul_title">GUARANTEES AND RESPONSIBILITY</div>
	               	Formación Digital makes no warranty or guarantee concerning the availability and continuity of the website www.spanischool.com and any of its services. The User will be informed of any problem or alteration in advance, as long as it is possible. Formación Digital S.L. does however accept responsibility for the availability and correct functioning of the Virtual Training Centre which is accessed from www.spanischool.com. The company does not accept any responsibility for damages or harm due to the unavailability or interruption of any webpage of www.spanischool.com. In addition, Formación Digital does not accept any obligation which could result in unauthorised third parties obtaining information on Users of the Portal and its services. Formación Digital will pursue any failure to abide to the aforementioned conditions as well as any misuse of its website by exercising all civil and criminal proceedings which are provided for by law. 
	            </li>			
			{% endif %}
        </ol></div>
	 </div>
	</div>
</div>
{% endmacro %}

{% macro bulats_popup() %}
	<div class="oculto">
	 	<div id="content-bulats">
			<div class="exam_bulats"></div>
			<div class="texto">{% trans "txt_bulats" %}</div>
			<div class="exam_dele"></div>
			<div class="texto">{% trans "txt_dele" %}</div>
	 	</div>
	</div>
{% endmacro %}

{% macro botonRecomendar() %}
<div id="btn-fb-recomendar">
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-action="recommend" data-font="trebuchet ms"></div>
</div>
{% endmacro %}

{% macro quienespepe() %}
	<div class="oculto">
		<div id="content-flashpepe">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="720" height="576" id="quienesPepe" align="middle">
			<param name="allowScriptAccess" value="sameDomain">
			<param name="movie" value="{{ ('/assets/swf/quienesPepe.swf')|basePath }}">
			<param name="quality" value="high">
			<param name="bgcolor" value="#FFFFFF">
			<embed src="{{ ('/assets/swf/quienesPepe.swf')|basePath }}" quality="high" bgcolor="#FFFFFF" width="720" height="576" name="quienesPepe" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
			</object>
		</div>
	</div>
{% endmacro %}