{%extends 'template.html.twig'%}

{% block javascript %}
{{ parent() }}
<!-- include Cycle plugin -->
<script type="text/javascript" src="/assets/js/jquery.cycle.all.js"></script>        
<script type="text/javascript" src="/assets/js/home.js"></script>
{% endblock%}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera") }}
{% endblock %}

{%block content%}
	<div id="content-msgs">
		<div id="error-img" class="izquierda">
			<div class="titular texto">{{ estado }}</div>
		</div>
		<div id="mensaje" class="negrita derecha">
			<div class="{% if error %}rojo{% endif %} texto">{{ mensaje|raw }}</div>
		</div>
	</div>
{% endblock %}
