<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"DTD/xhtml1-strict.dtd">
<html xmlns:fb="http://developers.facebook.com/schema/" lang="es-ES">
    <head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{% trans "titulo" %} {% block title %}{% endblock %}</title>
	{% block css %}
    	<link href="/assets/css/estilos.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="/assets/css/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
	{% endblock %}
	{% block javascript%}
		<script type="text/javascript" src="/assets/js/jquery171.min.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.easing-1.3.pack.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript" src="/assets/js/jquery.mousewheel-3.0.4.pack.js"></script>
		<script type="text/javascript">var ruta = "{{ ''|basePathLang(lang) }}";</script>
		<script type="text/javascript">var basepath = "{{ ''|basePath }}";</script>
		<script type="text/javascript" src="/assets/js/comun.js"></script>
		<script type="text/javascript">
		      window.___gcfg = {
		        lang: 'en-US'
		      };

		      (function() {
		        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		        po.src = 'https://apis.google.com/js/plusone.js';
		        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		      })();
		    </script>
	{% endblock %}
	</head>
	<body>
		{% import "macro.html.twig" as macros %}
		{{ macros.notalegal(lang) }}
		{{ macros.politicaPrivacidad(lang) }}

		<div style="display:none"><div id="data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></div>
		<div id="contenedor">
			<div id="contenido">
				<div id="cabecera">
					<div id="lang_select">
						<div class="trebuchet13 derecha">{% trans "elegir_idioma" %}</div>						
						<ul class="lang-select-list lang trebuchet13 derecha">
							{% for l in ['en', 'es'] %}
								{% if l==lang %}
								<li class="lang_selected">{{ l }}</li>
								{% else %}
								<li><a href="{{ app.request.pathInfo|str_replace("/" ~ lang ~ "/", "/" ~ l ~ "/")|basePath }}" class="enlaces">{{ l }}</a></li>
								{% endif %}
								{% if not loop.last %}<li class="barra">|</li>{% endif %}
							{% endfor %}
						</ul>
						<div class="clear"></div>
					</div>
					<div id="cab_slogan">
						<div class="comillaInicial izquierda"></div>
							{% block TextoCabecera %}{% endblock %}
						<div class="comillaFinal derecha"></div>
						<div class="clear"></div>
					</div>
					<div id="carrito">
						<span class="orange"><a id="link_carrito" href="{{ '/compras/list'|basePathLang(lang) }}"><span id="n_items_carrito">&nbsp;</span> {% trans "item_carro" %}</a></span>
					</div>
					<div id="contenido_carrito"></div>
				</div>
				<div id="menu_content">
					<div id="menu">
						<div id="botoneraItems" class="izquierda">
							<ul class="items_menu">
								<li><a href="{{ '/home'|basePathLang(lang) }}">{% trans "inicio" %}</a></li>
								<li><a href="{{ '/cursos_online/'|basePathLang(lang) }}">{% trans "cursos_online" %}</a></li>
								<li><a href="{{ '/cursos_presenciales/'|basePathLang(lang) }}">{% trans "cursos_presenciales" %}</a></li>
								<li><a href="{{ '/site/empresas'|basePathLang(lang) }}">{% trans "empresas" %}</a></li>
								<li><a href="{{ '/site/universidades'|basePathLang(lang) }}">{% trans "universidades" %}</a></li>
								<li><a href="{{ '/site/campus'|basePathLang(lang) }}">{% trans "campus" %}</a></li>
								<li><a href="{{ '/compras/'|basePathLang(lang) }}">{% trans "compra_online" %}</a></li>
								<li><a href="{{ '/site/contacto'|basePathLang(lang) }}">{% trans "contacto" %}</a></li>
							</ul>
						</div>
						<!-- <div id="phone_txt" class="azul derecha">{% trans "telefono_contacto" %}</div> -->
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
				<div id="cuerpo">
					<div id="cuerpo_contenidos">
						<div id="sombreado_sup"></div>
						{% block content %}Contenido{% endblock %}         
					</div>
				</div>
				<div id="pie">
					<div id="pie_content">
						<div id="btn_redes" class="izquierda">
							<div id="btn_fb_like" class="izquierda">
								<iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=box_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:90px;" allowTransparency="true"></iframe>
							</div>
							<div id="btn_tweet" class="izquierda">
								<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							</div>
							<div class="clear"></div>
						</div>
						<div id="btn_footer" class="izquierda">
							<div id="btn_contacto"><a href="{{ '/site/contacto'|basePathLang(lang) }}" class="footer-links">{% trans "btn_contacto" %}</a></div>
							<div id="btn_notaLegal"><a id="notalegal_footer" href="#content-notaLegal" class="footer-links">{% trans "btn_notalegal" %}</a></div>
						</div>
						<div id="marca" class="izquierda">
							<div class="txt_blanco izquierda">{% trans "marca_reg" %}</div>
							<a href="http://www.formaciondigital.com" target="_blank"><div class="logoFD"></div></a>
						</div>
						<div id="redes_sociales">
							<div id="txt_siguenos">{% trans "siguenos" %}</div>
							<div id="red_gplus" class="izquierda linkable">
								<div class="plus"><g:plusone size="medium" annotation="none" align="left"></g:plusone></div>
							</div>
							<!-- <div id="red_gplus" class="izquierda linkable"></div> -->
							<div id="red_linkedin" class="izquierda linkable"></div>
							<div id="red_twitter" class="izquierda linkable"></div>
							<div id="red_facebook" class="izquierda linkable"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div id="pie_bottom"></div>
				</div>
			</div>
		</div>
	</body>
</html>
