{% extends "Manager/CursosPresencialesDetalles/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">{{ id is not defined or id==''? 'Nuevo': 'Modificación' }}</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="post" action="{{ '/manager/cursosPresencialesDetalles/save'|basePath }}">
		<input type="hidden" name="id" value="{{ id is defined? id: '' }}">
		<fieldset>
			<div class="control-group {{ messages is defined and messages['semanas'] is defined? 'error': '' }}">
				<label class="control-label" for="semanas">Semanas</label>
				<div class="controls">
					<input type="text" class="input-large" id="semanas" name="semanas" value="{{ semanas is defined? semanas: '' }}">
					{% if messages is defined and messages['semanas'] is defined %}
						<span class="help-inline">{{ messages['semanas'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['horas'] is defined? 'error': '' }}">
				<label class="control-label" for="horas">Horas</label>
				<div class="controls">
					<input type="text" class="input-small right" id="horas" name="horas" value="{{ horas is defined? horas: '' }}">
					{% if messages is defined and messages['horas'] is defined %}
						<span class="help-inline">{{ messages['horas'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['residencia'] is defined? 'error': '' }}">
				<label class="control-label" for="residencia">Residencia</label>
				<div class="controls">
					<select class="input-large" id="residencia" name="residencia">
						{% if id is not defined or id=='' %}
							<option value=""></option>
						{% endif %}
						{% for residenciaKey, residenciaValue in residencias %}
							{% if residencia is defined and residencia==residenciaKey %}
								<option value="{{ residenciaKey }}" selected="selected">{{ residenciaValue }}</option>
							{% else %}
								<option value="{{ residenciaKey }}">{{ residenciaValue }}</option>
							{% endif %}
						{% endfor %}
					</select>
					{% if messages is defined and messages['residencia'] is defined %}
						<span class="help-inline">{{ messages['residencia'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and (messages['precio'] is defined or messages['precioEUR'] is defined or messages['precioUSD'] is defined or messages['precioRBR'] is defined or messages['precioGBP'] is defined)? 'error': '' }}">
				<label class="control-label" for="precioEUR">Precio</label>
				<div class="controls">
					<div class="input-append">
                		<input class="input-small right" id="precioEUR" name="precioEUR" type="text" value="{{ precioEUR is defined? precioEUR: '' }}"><span class="add-on">&euro;</span>
						{% if messages is defined and messages['precioEUR'] is defined %}
							<span class="help-inline">{{ messages['precioEUR'] }}</span>
						{% endif %}
						{% if messages is defined and messages['precio'] is defined %}
							<span class="help-inline">{{ messages['precio'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioUSD" name="precioUSD" type="text" value="{{ precioUSD is defined? precioUSD: '' }}"><span class="add-on">$</span>
						{% if messages is defined and messages['precioUSD'] is defined %}
							<span class="help-inline">{{ messages['precioUSD'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioRBR" name="precioRBR" type="text" value="{{ precioRBR is defined? precioRBR: '' }}"><span class="add-on">R$</span>
						{% if messages is defined and messages['precioRBR'] is defined %}
							<span class="help-inline">{{ messages['precioRBR'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioGBP" name="precioGBP" type="text" value="{{ precioGBP is defined? precioGBP: '' }}"><span class="add-on">&pound;</span>
						{% if messages is defined and messages['precioGBP'] is defined %}
							<span class="help-inline">{{ messages['precioGBP'] }}</span>
						{% endif %}
              		</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Guardar</button>
				{% if (id is defined) %}
					<a href="{{ ('/manager/cursosPresencialesDetalles/view'|basePath)~'?id='~id }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% else %}
					<a href="{{ '/manager/cursosPresencialesDetalles/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% endif %}
			</div>
		</fieldset>
	</form>
	
{% endblock %}
