{% extends "Manager/CursosPresencialesDetalles/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Consulta</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="3"></th>
				<th colspan="4" class="center">Precio</th>
			</tr>
			<tr>
				<th>Semanas</th>
				<th>Horas</th>
				<th>Residencia</th>
				<th class="right">EUR</th>
				<th class="right">USD</th>
				<th class="right">RBR</th>
				<th class="right">GBP</th>
			</tr>
		</thead>
		<tbody>
			{% for detalle in detalles %}
				<tr class="selectable" onclick="view({{ detalle.id }})">
					<td>{{ detalle.semanas }}</td>
					<td>{{ detalle.horas }}</td>
					<td>{{ residencias[detalle.residencia] }}</td>
					<td class="right">{{ detalle.precioEUR? detalle.precioEUR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ detalle.precioUSD? detalle.precioUSD|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ detalle.precioRBR? detalle.precioRBR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ detalle.precioGBP? detalle.precioGBP|number_format(2,',','.'): '' }}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="right">
					<a href="{{ '/manager/cursosPresencialesDetalles/edit'|basePath }}" class="btn btn-primary">
						<i class="icon-plus"></i> Nuevo
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<form id="viewForm" method="get" action="{{ '/manager/cursosPresencialesDetalles/view'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function view(id) {
	        $('#viewForm input[name="id"]').val(id);
	        $('#viewForm').submit();
	    }
	</script>
{% endblock %}
