{% extends "Manager/CursosPresenciales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li>
		<a href="{{ '/manager/cursosPresencialesDetalles/main'|basePath }}">Detalles</a> <span class="divider">/</span>
	</li>
{% endblock %}

{% block content %}
	<div class="well">
		<b>Curso presencial:</b> {{ cursoPresencial.nombre }}
	</div>
{% endblock %}
