{% extends "Manager/CursosPresencialesDetalles/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Ver</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="get" action="{{ '/manager/cursosPresencialesDetalles/edit'|basePath }}">
		<input type="hidden" name="id" value="{{ detalle.id }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Semanas</label>
				<div class="controls">
					<span class="input-large uneditable-input">{{ detalle.semanas }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Horas</label>
				<div class="controls">
					<span class="input-small uneditable-input right">{{ detalle.horas }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Residencia</label>
				<div class="controls">
					<span class="input-xlarge uneditable-input">{{ residencias[detalle.residencia] }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Precio</label>
				<div class="controls">
					<span class="input-small uneditable-input right">{{ detalle.precioEUR? detalle.precioEUR|number_format(2,',','.'): '' }} &euro;</span><br/>
					<span class="input-small uneditable-input right">{{ detalle.precioUSD? detalle.precioUSD|number_format(2,',','.'): '' }} $</span><br/>
					<span class="input-small uneditable-input right">{{ detalle.precioRBR? detalle.precioRBR|number_format(2,',','.'): '' }} R$</span><br/>
					<span class="input-small uneditable-input right">{{ detalle.precioGBP? detalle.precioGBP|number_format(2,',','.'): '' }} &pound;</span>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
				<a href="#" onclick="remove({{ detalle.id }}); return false" class="btn btn-warning"><i class="icon-trash"></i> Borrar</a>
				<a href="{{ '/manager/cursosPresencialesDetalles/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Volver</a>
			</div>
		</fieldset>
	</form>
	
	<form id="removeForm" method="get" action="{{ '/manager/cursosPresencialesDetalles/delete'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function remove(id) {
	    	if (confirm("¿Desea eliminar este detalle?")) {
		        $('#removeForm input[name="id"]').val(id);
		        $('#removeForm').submit();
	    	}
	    }
	</script>
	
{% endblock %}
