{%extends 'template.html.twig'%}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ "/assets/js/presenciales.js"|basePath }}"></script>
{% endblock %}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_cursos_on") }}
{% endblock %}

{% block content %}
	<div id="contents-online"> 
		<div class="contenidosIzquierda izquierda">
			<div class="titular">{% trans "cursos" %} <span class="azul">{% trans "online" %}</span></div>
			<div class="textos-interiores" id="textoOnline1">{% trans "txt_cursos_online" %}</div>
			<div class="textos-interiores izquierda" id="textoOnline2">{% trans "txt_cursos_online2" %} <a href="{{ '/site/contacto'|basePathLang(lang)}}" class="enlaces">{% trans "dudas" %}</a></div>
			<div class="btn_carrito izquierda linkable"><span class="txt_int_carrito">{{ macros.trans_raw("txt_btn_carrito") }}</span></div>
			<div class="clear"></div>
			<div>
				<table id="listaCursos">
					<thead>
						<th id="th_carrito"><div id="carrito_tabla"><img src="{{ '/assets/img/online/carrito.png'|basePath }}" /></div></th>
						<th>{% trans "cantidad" %}</th>
						<th>{% trans "producto" %}</th>
						<th>{% trans "nivel" %}</th>
						<th>{% trans "horas" %}</th>
						<th>{% trans "masinfo" %}</th>
						<th>{% trans "demo" %}</th>
						<th>{% trans "precio" %}</th>
					</thead>
					<tbody>
						<!-- <tr>
							<td><input type="checkbox" value="test_nivel" /></td>
							<td><div id="box_testNivel" class="item_box">
									<div class="decrementar" onclick="decrementar(this)">-</div>
									<div class="numItems" rel="1">1</div>
									<div class="incrementar" onclick="incrementar(this)">+</div>
									<div class="clear"></div>
								</div>
							</td>
							<td>
								<a class="iframe enlaces" href="http://www.spanischool.com/test/testNivel.php">{% trans "prueba_nivel" %}</a>
							</td>
							<td>-</td>
							<td>-</td>
							<td><a class="iframe enlaces" href="http://www.spanischool.com/test/testNivel.php">{% trans "leer" %}</a></td>
							<td>-</td>
							<td>{% trans "gratis" %}</td>
						</tr> -->
						{% for curso in cursos %}
						<tr>
							<td><input type="checkbox" value="{{ curso.id }}" /></td>
							<td><div id="box_{{ curso.id }}" class="item_box">
									<div class="decrementar" onclick="decrementar(this)">-</div>
									<div class="numItems" rel="1">1</div>
									<div class="incrementar" onclick="incrementar(this)">+</div>
									<div class="clear"></div>
								</div>
							</td>
							<td><a href="{{ ('/cursos_online/ficha/' ~ curso.nombre)|basePathLang(lang) }}" class="enlaces">{{ curso.nombre|trans }}</td>
							<td>{{ curso.nivel }}</td>
							<td>{{ curso.horas }}</td>
							<td><a href="{{ ('/cursos_online/ficha/' ~ curso.nombre)|basePathLang(lang) }}" class="enlaces">{% trans "leer" %}</a></td>
							<td><a href="http://vimeo.com/40285541" class="demos-fancy enlaces">{% trans "demo" %}</a></td>
							<td>{{ curso|currencyValue(moneda)|raw }}</td>
						</tr>
						{% endfor %}
						<tr><td colspan="8" class="celda_separacion"></td></tr>
						{% for c_one in one2one %}
							<tr>
								<td><input type="checkbox" value="{{ c_one.id }}"></td>
								<td><div id="box_{{ c_one.id }}" class="item_box">
										<div class="decrementar" onclick="decrementar(this)">-</div>
										<div class="numItems" rel="1">1</div>
										<div class="incrementar" onclick="incrementar(this)">+</div>
										<div class="clear"></div>
									</div>
								</td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ c_one.nombre)|basePathLang(lang) }}" class="enlaces">{{ c_one.nombre|trans }}</td>
								<td>{{ c_one.nivel }}</td>
								<td>{{ c_one.horas }}</td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ c_one.nombre)|basePathLang(lang) }}" class="enlaces">{% trans "leer" %}</a></td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ c_one.nombre)|basePathLang(lang) }}" class="enlaces" onclick="show_demo()" >{% trans "demo" %}</a></td>
								<td>{{ c_one|currencyValue(moneda)|raw }}</td>
							</tr>
						{% endfor %}
						<tr><td colspan="8" class="celda_separacion"></td></tr>
						{% for examen in examenes %}						
							<tr>
								<td><input type="checkbox" value="{{ examen.id }}"></td>
								<td><div id="box_{{ examen.id }}" class="item_box">
										<div class="decrementar" onclick="decrementar(this)">-</div>
										<div class="numItems" rel="1">1</div>
										<div class="incrementar" onclick="incrementar(this)">+</div>
										<div class="clear"></div>
									</div>
								</td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ examen.nombre)|basePathLang(lang) }}" class="enlaces">{{ examen.nombre|trans }}</td>
								<td>{{ examen.nivel }}</td>
								<td>{{ examen.horas }}</td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ examen.nombre)|basePathLang(lang) }}" class="enlaces">{% trans "leer" %}</a></td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ examen.nombre)|basePathLang(lang) }}" class="enlaces" onclick="show_demo()" >{% trans "demo" %}</a></td>
								<td>{{ examen|currencyValue(moneda)|raw }}</td>
							</tr>
						{% endfor %}
						{% for pildora in pildoras %}						
							<tr>
								<td><input type="checkbox" value="{{ pildora.id }}"></td>
								<td><div id="box_{{ pildora.id }}" class="item_box">
										<div class="decrementar" onclick="decrementar(this)">-</div>
										<div class="numItems" rel="1">1</div>
										<div class="incrementar" onclick="incrementar(this)">+</div>
										<div class="clear"></div>
									</div>
								</td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ pildora.nombre)|basePathLang(lang) }}" class="enlaces">{{ pildora.nombre|trans }}</td>
								<td>{{ pildora.nivel }}</td>
								<td>{{ pildora.horas }}</td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ pildora.nombre)|basePathLang(lang) }}" class="enlaces">{% trans "leer" %}</a></td>
								<td><a href="{{ ('/cursos_online/ficha/' ~ pildora.nombre)|basePathLang(lang) }}" class="enlaces" >{% trans "demo" %}</a></td>
								<td>{{ pildora|currencyValue(moneda)|raw }}</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
			<div class="margen-inf20">
				<div class="izquierda"><a href="{{ '/site/contacto'|basePathLang(lang)}}" class="enlaces">{% trans "dudas" %}</a></div>
				<div class="derecha caja-cambio-divisa">{% trans "conversor_moneda" %} > 
					<select class="currency_selector">
                    	{% for c in ['EUR', 'USD', 'GBP'] %}
                        	<option value="{{ c }}" {{ (c==currency)?'selected="selected"':'' }}>{{ c }}</option>
                        {% endfor %}
					</select>
				</div>
				<div class="clear"></div>
			</div>
			<div class="btn_carrito derecha linkable"><span class="txt_int_carrito">{{ macros.trans_raw("txt_btn_carrito") }}</span></div>
			<div class="clear"></div>
		</div>
		<div class="derecha" id="lateral_online">
			<div class="panel-dch-sup">
				<p>{% trans "texto-sup-dch-online" %}</p>
				<div class="boton_general"><a class="iframe" href="http://www.spanischool.com/test/testNivel.php"><span>{% trans "btn-sup-dch-online" %}</span></a></div>
			</div>
			<div class="panel-dch-inf">
				<!-- <p class="blanco">{% trans "texto-inf-dch-online" %}</p> -->
				<p class="blanco">{% trans "necesitas_mas_info" %}</p>
				<p>{% trans "texto-inf-dch-online2" %}</p>
				<!-- <input type="text" name="sol_cupon" id="sol_cupon" class="cajatexto" value="{% trans "txt_caja_dch-online" %}"/> -->
				<input type="text" name="sol_info" id="sol_info" class="cajatexto" value="{% trans "txt_caja_dch-online" %}"/>				
				<div class="error_txt oculto">{% trans "introduce_mail" %}</div>
				<div class="boton_general linkable" onclick="envioMail(this)"><span>{% trans "btn-inf-dch-online" %} </span></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>	
{% endblock %}
