{%extends 'template.html.twig'%}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ "/assets/js/ficha.js"|basePath }}"></script>
{% endblock %}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_cursos_on_ficha") }}
{% endblock %}

{% block content %}
<script type="text/javascript">
	var curso_id = {{ item.id }}
</script>
<!-- script recomendar fb -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=134439069933864";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- fin script recomendar -->


<div id="content-ficha-online">
	<div class="sup-ficha">
		<div id="info-curso" class="izquierda">
				<div class="img-pepe izquierda">
					{% if item.tipo == 'curso' %}
						{% if item.nombre|findString('tutor') %}
							<img src="{{ ("/assets/img/fichas/pepe_" ~ item.nivel ~ "_T.png")|basePath}}" />
						{% else %}
							<img src="{{ ("/assets/img/fichas/pepe_" ~ item.nivel ~ ".png")|basePath}}" />
						{% endif %}
					{% endif %}
					{% if item.tipo == 'oneToOne' %}
						<img src="{{ ("/assets/img/fichas/" ~ item.nombre ~ ".png")|basePath}}" />
					{% endif %}
				</div>
				<div class="info-content izquierda">
					<div id="titulo-ficha"><span class="azul">{% trans "curso_online" %}:</span><span>{{ item.nombre|trans }}</span></div>
					<div class="ficha-horas orange">
						<span class="negrita">{{ item.horas }} {% trans "horas" %}</span> 
						{% if item.tipo == 'curso' %}
							<span class="normal">( {% trans "acceso_maximo" %} {{ item.diasAcceso }} {% trans "meses" %} )</span>
						{% endif %}
					</div>
					<div class="caja-naranja izquierda">
						<div id="descuento-caja"><span class="blanco">{% trans "precio" %}: </span><span>{{ item|currencyValue(moneda)|raw }}</span></div>
					</div>
					<div class="flecha-caja-naranja izquierda"></div>
					<div class="clear"></div>
					<div id="botonera-ficha-online">
						{% if item.tipo == 'curso' %}
						<div class="boton_general linkable" onclick="verDemo()"><span>{% trans "verdemo" %}</span></div>
						<div></div>
						{% endif %}
					</div>
				</div>
				<div class="info-compra-ficha derecha">
					<div class="btn_carrito linkable"><span class="txt_int_carrito">{% trans "anadircarro" %}</span></div>
					<div class="dudas"><a href="{{ '/site/contacto'|basePathLang(lang) }}" class="enlaces">{% trans "dudas" %}</a></div>
				</div>
				<div class="clear"></div>
				<div class="resumen-ficha">
					{% if item.tipo == 'curso' %}
						{% if item.nivel|truncate(2) == 'A1' %}
							{% set claveresumen = 'txt_intro_ficha_online1' %}
						{% endif %}	
						{% if item.nivel|truncate(2) == 'A2' %}
							{% set claveresumen = 'txt_intro_ficha_online2' %}
						{% endif %}	
					{% elseif item.tipo == 'oneToOne' %}
						{% set claveresumen = item.nombre ~ '_txt_resumen'%}
					{% else %}
						{% set claveresumen = item.nombre ~ '_txt_resumen'%}
					{% endif %}	
					{{ macros.trans_raw(claveresumen) }}
				</div>
				<div class="btn_productos_c boton_mas linkable" onclick="visita_url('{{ '/cursos_online/'|basePathLang(lang) }}')"><span>{% trans "productos_complementarios" %}</span></div>
		</div>
		<div id="info-pack" class="derecha">
			<div class="ficha-esq-facebook">
				<div id="textos-pack">
					{% trans "estamos_facebook" %}
				</div>
				<a href="http://www.facebook.com/spanischool" target="_blank"><div class="boton_general"><span>{% trans "acceso" %}</span></div></a>
				<!-- <div class="flecha-caja-naranja-sup"></div> -->
				<!-- <div id="caja-naranja-pack">
					{{ item|currencyValue(moneda)|raw }}
				</div> -->
			</div>
			<!-- <div id="carrito_pack"><div class="btn_carrito linkable"><span class="txt_int_carrito">{% trans "anadircarro" %}</span></div></div> -->
		</div>

		<div class="clear"></div>
	</div>
	<div id="pestanas-online" class="pestanas">
		<div id="head_tags">
			<div id="tags_nav" class="izquierda">
				{% if item.tipo != 'examen' %}<div id="tag-contenidos" class="izquierda tags">{% trans "pest_contenidos" %}</div>{% endif %}
				<div id="tag-metodo" class="izquierda tags">{% trans "pest_metodo" %}</div>
				{% if item.tipo == 'curso' %}<div id="tag-demo" class="izquierda tags">{% trans "pest_demo" %}</div>{% endif %}
				{% if item.tipo != 'examen' %}<div id="tag-examen" class="izquierda tags">{% trans "pest_examen" %}</div>{% endif %}
				<div id="tag-pago" class="izquierda tags">{% trans "pest_pago" %}</div>				
			</div>
			<div class="clear"></div>
		</div>
		<div id="tags_body">
			<div id="tag-contenidos-content" {% if item.tipo == 'oneToOne' %}class="oculto tag-contenidos-content-background-none"{% else %}class="oculto"{% endif %}>
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-action="recommend" data-font="trebuchet ms"></div>
				<div class="clear"></div>

				{% if item.tipo == 'curso' %}
					<div class="texto izquierda">{{ macros.trans_raw(item.nombre ~ "_tag_contenidos") }}</div>
					<div id="columna-productos" class="derecha">
						<div class="azul titulos">{{ macros.trans_raw("producto_incluye") }}:</div>
						<ul class="productos-incluidos">
							<li id="videos-p-li"> {% trans "videos" %}</li>
							<li id="chats-p-li"> {% trans "chats" %}</li>
							<li id="emails-p-li"> {% trans "emails" %}</li>
							<li id="foros-p-li"> {% trans "foros" %}</li>
							<li id="manual-p-li"> {% trans "manual" %}</li>
							<li id="documentos-p-li"> {% trans "documentos" %}</li>
							<li id="redes-p-li"> {% trans "redes" %}</li>
							<li id="podcasts-p-li"> {% trans "podcasts" %}</li>
						</ul>
						<div id="productos-tooltip" class="oculto">
							<span id="videos-p" class="oculto"> {% trans "videos-tooltip" %}</span>
							<span id="chats-p" class="oculto">{% trans "chats-tooltip" %}</span>
							<span id="emails-p" class="oculto">{% trans "emails-tooltip" %}</span>
							<span id="foros-p" class="oculto">{% trans "foros-tooltip" %}</span>
							<span id="manual-p" class="oculto">{% trans "manual-tooltip" %}</span>
							<span id="documentos-p" class="oculto">{% trans "documentos-tooltip" %}</span>
							<span id="redes-p" class="oculto">{% trans "redes-tooltip" %}</span>
							<span id="podcasts-p" class="oculto">{% trans "podcasts-tooltip" %}</span>
						</div>
					</div>
					<div class="clear"></div>
				{% endif %}
				{% if item.tipo == 'oneToOne' %}
					<div id="graficaOnetoOne"><img src="{{ ('/assets/img/fichas/contenidos_onetoone_' ~ lang ~ '.png')|basePath }}" /></div>
				{% endif %}
			</div>
			<div id="tag-metodo-content" class="oculto">
				<div id="map_metodo_{{ lang }}" class="izquierda"></div>
				<div id="metodo-txt" class="derecha">
					{{ macros.trans_raw("texto_general_tag_metodo1") }}
					{% if item.tipo == 'curso' %}
						{{ macros.trans_raw("texto_general_tag_metodo_cursos") }}
					{% endif %}
					{% if item.nombre|findString('tutor') %}
						{{ macros.trans_raw("texto_gereral_tag_metodo_tutor") }}
					{% endif %}
					{% if item.tipo == 'oneToOne' %}
						{{ macros.trans_raw('texto_general_tag_metodo_one2one') }}
					{% endif %}
					{% if item.tipo == 'examen' %}
						{{ macros.trans_raw('texto_general_tag_metodo_exam') }}
					{% endif %}
					{% if item.tipo == 'pildora' %}
						{{ macros.trans_raw('texto_general_tag_metodo_pils') }}
					{% endif %}
					{% if lang == 'en' %}
						{{ macros.trans_raw("texto_general_tag_metodo2") }}
					{% endif %}
					<div class="boton_general linkable" onclick="visita_url('{{ '/cursos_online/'|basePathLang(lang) }}')"><span>{% trans "productos_complementarios" %}</span></div>
				</div>
				<div class="clear"></div>
				<div id="bloc-flash">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="830" height="495" id="metodo_es" align="middle">
					<param name="allowScriptAccess" value="sameDomain">
					<param name="movie" value="{{ ('/assets/swf/metodo_' ~ lang ~ '.swf')|basePath }}">
					<param name="quality" value="high">
					<param name="bgcolor" value="#FFFFFF">
					<embed src="{{ ('/assets/swf/metodo_' ~ lang ~ '.swf')|basePath }}" quality="high" bgcolor="#FFFFFF" width="830" height="495" name="metodo_es" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
					</object>
				</div>
			</div>
			<div id="tag-demo-content" class="oculto">
				<div class="izquierda" id="demo-vimeo">	
					<iframe src="http://player.vimeo.com/video/40285541" width="680" height="425" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
				<div class="derecha lateralDemo">
					<div id="txt-lateral-demos">
						<div class="titulos blanco">{% trans "txt_derecha_campus" %}</div>
						<div class="titulos">{% trans "txt_derecha_campus2" %}</div>
						<input type="text" name="demo_send" class="cajatexto" id="demo_send" value="{% trans 'txt_caja_dch-online' %}"/>
						<div class="boton_general"><span>{% trans "enviar" %}</span></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="tag-examen-content" class="oculto">
				<div class="izquierda">
					<div class="exam_bulats"></div>
					<div class="texto">{{ macros.trans_raw("txtgeneral_tag_examen_izq") }} <a href="{{ '/site/contacto'|basePathLang(lang)}}" class="enlaces mayuscula">{% trans "aqui" %}</a></div>
					<div class="boton_general linkable" onclick="visita_url('{{ '/site/contacto'|basePathLang(lang) }}')"><span>{% trans "masinfo" %}</span></div>
				</div>
				<div class="derecha">
					<div class="exam_dele"></div>
					<div class="texto">{{ macros.trans_raw("txtgeneral_tag_examen_dch") }}</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="tag-pago-content" class="oculto">
				<div class="pago_txt">{{ macros.trans_raw("pago_txt") }}</div>
				<div class="paypal_pago">
					<div class="paypal_txt izquierda">{{ macros.trans_raw("pago_paypal_txt") }}</div>
					<div class="logoPaypal izquierda"></div>
					<div class="clear"></div>
				</div>
				<div class="bancaria_txt">{{ macros.trans_raw("pago_bancaria_txt") }}</div>
				<a href="{{ '/compras/'|basePathLang(lang) }}"><div class="boton_general derecha"><span>{% trans "acceder_compra_online" %}</span></div></a>
				<div class="clear"></div>
			</div>
		</div>
		<div id="footer_tags"></div>
	</div>
</div>
{% endblock %}
