{%extends 'template.html.twig'%}
{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_compras") }}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ "/assets/js/compras.js"|basePath }}"></script>
{% endblock %}

{% block content %}
	<div id="compras-content">
		<div class="titular">
			<span>{% trans "compra" %}</span>
			<span class="azul">{% trans "online" %}</span>
		</div>
		<div id="steps-bar">
			<div id="step1" class="pasos izquierda">
				<div class="number_process"></div>
				<div class="txt_process">
					<span class="p_titulo">{% trans "primer_paso" %}</span>
					<span class="p_subtitulo">{% trans "selecciona_cursos" %}</span>
				</div>
			</div>
			<div id="step2" class="pasos izquierda">
				<div class="number_process proceso2_inactivo"></div>
				<div class="txt_process">
					<span class="p_titulo">{% trans "segundo_paso" %}</span>
					<span class="p_subtitulo">{% trans "introduce_datos" %}</span>
				</div>	
			</div>
			<div id="step3" class="pasos izquierda">
				<div class="number_process proceso3_inactivo"></div>
				<div class="txt_process">
					<span class="p_titulo">{% trans "tercer_paso" %}</span>
					<span class="p_subtitulo">{% trans "registra_usuarios" %}</span>
				</div>	
			</div>
			<div id="step4" class="pasos izquierda">
				<div class="number_process proceso4_inactivo"></div>
				<div class="txt_process">
					<span class="p_titulo">{% trans "cuarto_paso" %}</span>
					<span class="p_subtitulo">{% trans "modo_pago" %}</span>
				</div>	
			</div>
			<div id="step5" class="derecha">
				<div class="number_process proceso5_inactivo"></div>
				<div class="txt_process">
					<span class="p_titulo">{% trans "quinto_paso" %}</span>
					<span class="p_subtitulo">{% trans "procesa_solicitud" %}</span>
				</div>	
			</div>
			<div class="clear"></div>
		</div>
		
		<!-- fichas pasos -->
		<div class="contents-steps-sup"></div>
		<div id="step1-content" class="contents-steps">
			<div class="indicador"><span class="negrita mayuscula">{% trans "primer_paso" %}</span> {% trans "texto_paso1" %}</div>
			<div class="izquierda" id="compra-paso1">
				<div>
					{% if nItems == 0 %}
						<div class="noItems_cart">{% trans "noItems_cart" %}</div>
					{% else %}
						<table id="compra-tbl">
							<thead>
								<tr>
									<th>{% trans "cantidad" %}</th>
									<th>{% trans "producto" %}</th>
									<th>{% trans "nivel" %}</th>
									<th>{% trans "horas" %}</th>
									<th>{% trans "masinfo" %}</th>
									<th>{% trans "demo" %}</th>
									<th>{% trans "precio" %}</th>
									<th>{% trans "eliminar" %}</th>
								</tr>
							</thead>
                            <tbody>
                                {% for item in shoppingCart %}
                                    <tr>
                                        <td>
											<div id="box_{{ item.id }}" class="item_box">
												<div class="decrementar" onclick="decrementar(this)" rel="{{ item.id }}">-</div>
												<div class="numItems" rel="{{ item.quantity }}">{{ item.quantity }}</div>
												<div class="incrementar" onclick="incrementar(this)" rel="{{ item.id }}">+</div>
												<div class="clear"></div>
											</div>
										</td>
                                        <td><a href="{{ ("/cursos_online/ficha/" ~ item.description)|basePathLang(lang) }}" class="enlaces">{{ item.description|trans }}</a></td>
                                        <td>{{ item.nivel }}</td>
                                        <td>{{ item.horas }}</td>
                                        <td><a href="{{ ("/cursos_online/ficha/" ~ item.description)|basePathLang(lang) }}" class="enlaces">leer</a></td>
                                        <td>-</td>
                                        <td>{{ item.price|currencyFormat(currency)|raw }}</td>
                                        <td><span class="compra_borrar linkable" rel="{{ item.id }}"><img src="{{ '/assets/img/compra/borrar.png'|basePath }}" onmouseover="this.src='{{ '/assets/img/compra/borrar_roll.png'|basePath }}'" onmouseout="this.src='{{ '/assets/img/compra/borrar.png'|basePath }}'"/></span></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
							<tfoot>
								{% if total!=subtotal %}
								<tr>
									<td colspan="6">Subtotal</td>
									<td>{{ subtotal|currencyFormat(currency)|raw }}</td>
									<td></td>
								</tr>
								{% endif %}
								<tr>
									<td class="total" colspan="4"></td>
									<td class="total">
										Total
										{{ (total!=subtotal)?'(Descuentos incluidos)':'' }}
									</td>
									<td class="total"></td>
									<td class="total">{{ total|currencyFormat(currency)|raw }}</td>
									<td class="total"></td>
								</tr>
							</tfoot>
						</table>
					{% endif %}
				</div>
				<div>
					<div class="izquierda"><a href="{{ '/cursos_online/'|basePathLang(lang) }}"><div id="addProducts" class="boton_general"><span>{% trans "anadir_productos" %}</span></div></a></div>
					{% if nItems > 0 %}
					
					<div class="derecha caja-cambio-divisa">{% trans "conversor_moneda" %} > 
						<select class="currency_selector">
                          {% for c in ['EUR', 'USD', 'GBP'] %}
                          <option value="{{ c }}" {{ (c==currency)?'selected="selected"':'' }}>{{ c }}</option>
                          {% endfor %}
						</select>
					</div>
					{% endif %}
					<div class="clear"></div>
				</div>
			</div>
			<div class="derecha" id="lateral-compra">
				<div id="txt-lateral-compra" class="txt-compra-{{ lang }}">
					<p class="blanco">{{ macros.trans_raw("inserta_codigo_descuento") }}</p>
					<p class="texto">{% trans "no_tiene_codigo" %}</p>
					<input type="text" name="codigo_descuento" id="codigo_descuento" value="{% trans "txt_codigo_input" %}"/>
					<div class="boton_general linkable" id="btn_codigo_descuento"><span>{% trans "aplicar" %}</span></div>
				</div>
			</div>
			<div class="clear"></div>
			{% if nItems > 0 %}
				<div class="next-step" ><div class="boton_general derecha linkable" onclick="pasoSiguiente(2)"><span>{% trans "siguiente" %}</span></div><div class="clear"></div></div>
			{% endif %}
		</div>
		<div class="contents-steps-inf"></div>
		<form id="formu-compra" action="{{ '/compras/proccess'|basePathLang(lang) }}" method="POST">
		<!-- paso 2 -->
		<div id="step2-content" class="oculto">
			<div class="contents-steps-sup"></div>
			<div class="contents-steps">
				<div class="indicador"><span class="negrita mayuscula">{% trans "segundo_paso" %}</span> {% trans "texto_paso2" %}</div>
					<div class="formu-margen">
					<fieldset id="datos-personales1" class="izquierda">
						<label for="nombre">{% trans "nombre_razon" %}</label>
						<input type="text" name="nombre" id="nombre" tabindex="1"/>
					
						<label for="direccion">{% trans "direccion" %}</label>
						<input type="text" name="direccion" id="direccion" tabindex="3"/>
					
						<label for="cp">{% trans "cp" %}</label>
						<input type="text" name="cp" id="cp" tabindex="5"/>
					
						<label for="telefono">{% trans "tlfn" %}</label>
						<input type="text" name="telefono" id="telefono" tabindex="7"/>
					
						<label for="email">{% trans "email" %}</label>
						<input type="text" name="email" id="email" tabindex="9"/>
					</fieldset>
					<fieldset id="datos-personales2" class="derecha">
						<label for="apellidos">{% trans "apellidos" %}</label>
						<input type="text" name="apellidos" id="apellidos" tabindex="2"/>
					
						<label for="poblacion">{% trans "poblacion" %}</label>
						<input type="text" name="poblacion" id="poblacion" tabindex="4"/>
					
						<label for="id_fiscal">{% trans "id_fiscal" %}</label>
						<input type="text" name="id_fiscal" id="id_fiscal" tabindex="6"/>
					
						<label for="movil">{% trans "movil" %}</label>
						<input type="text" name="movil" id="movil" tabindex="8"/>
					
						<label for="conf_email">{% trans "confirma_email" %}</label>
						<input type="text" name="conf_email" id="conf_email" tabindex="10"/>					
					</fieldset>
					<div class="izquierda">
						<input type="checkbox" id="chk_privacidad" name="chk_privacidad" /> {% trans "heleido" %} <a id="notalegal_footer2" href="#content-politica" class="enlaces">{% trans "politica_privacidad" %}</a>
					</div>
					<div class="derecha">
						<div class="boton_anterior izquierda linkable" onclick="pasoAnterior(1)"><span>{% trans "anterior" %}</span></div>
						<div class="boton_general derecha linkable" onclick="pasoSiguiente(3)"><span>{% trans "siguiente" %}</span></div>
					</div>
					<div class="clear"></div>
					</div>
					<div class="clear"></div>
			</div>
			<div class="contents-steps-inf"></div>				
		</div>
		<!-- fin paso 2-->
		
		<!-- paso 3 -->
		<div id="step3-content" class="oculto">
			<div class="contents-steps-sup"></div>
			<div class="contents-steps">
				<div class="indicador"><span class="negrita mayuscula">{% trans "tercer_paso" %}</span> {% trans "texto_paso3" %}</div>
				<fieldset id="reg_usuarios">
					<ul id="usuarios-list">
					{% for item in shoppingCart %}
						<li class="alumno" rel="{{ item.id }}">
							<p>{{ item.description|trans }}</p>
							<ol>
							{% for i in 1..item.quantity %}
									<li>
										<input rel="{{ i }}" name="alu_nombre[{{ item.id }}]" type="text" class="nombre_alumno" value="{{ 'nombre'|trans }}" />
										<input rel="{{ i }}" name="alu_apellido[{{ item.id }}]" type="text" class="apellidos_alumno" value="{{ 'apellidos'|trans }}" />
						    			<input rel="{{ i }}" name="alu_email[{{ item.id }}]" type="email" class="email_alumno" value="{{ 'email'|trans }}" />
									</li>
							{% endfor %}
							</ol>
						</li>
					{% endfor %}
					</ul>	
				</fieldset>
				<div class="izquierda">
					<input type="checkbox" id="chk_privacidad" name="chk_privacidad" /> {% trans "heleido" %} <a id="notalegal_footer" href="#content-politica" class="enlaces">{% trans "politica_privacidad" %}</a>
				</div>
				<div class="derecha" id="ubi">
					<div class="boton_anterior izquierda linkable" onclick="pasoAnterior(2)"><span>{% trans "anterior" %}</span></div>
					<div class="boton_general derecha linkable" onclick="pasoSiguiente(4)"><span>{% trans "siguiente" %}</span></div>
				</div>
				<div class="clear"></div>
				<div class="clear"></div>				
			</div>
			<div class="contents-steps-inf"></div>				
		</div>
		<!-- fin paso 3 -->
		
		<!-- paso 4 -->
		<div id="step4-content" class="oculto">
			<div class="contents-steps-sup"></div>
			<div class="contents-steps">
				<div class="indicador"><span class="negrita mayuscula">{% trans "cuarto_paso" %}</span> {% trans "texto_paso4" %}</div>
				<div id="contenido-step4">
					<div id="contenedor_txt_paypal">
						<div id="txt_paypal" class="izquierda">
							<div class="izquierda"><input type="radio" name="metodo_pago" id="metodo_pago1" value="paypal"></div>
							<div class="izquierda texto"><span class="negrita"> PayPal ({% trans "tarjetas_credito" %}):</span> {% trans "txt_paypal" %}</div>
						</div>
						<div class="izquierda logoPaypal"></div>
						<div class="clear"></div>
					</div>
					<div id="txt_transfer">
						<div class="izquierda"><input type="radio" name="metodo_pago" id="metodo_pago2" value="transferencia"></div>
						<div class="izquierda texto"><span class="negrita">{% trans "transferencia_bancaria" %}:</span> {% trans "txt_transferencia" %}</div>
						<div class="clear"></div>
					</div>
					<div id="total-paso4" class="izquierda">
						<div class="texto izquierda">{% trans "total" %} {% trans "a_pagar" %}</div>
						<div class="precio derecha">{{ total|currencyFormat(currency)|raw }}</div>
					</div>
					<div id="step5-content" class="derecha">
						<div class="indicador izquierda"></div>
						<div class="boton_general izquierda linkable"><span>{% trans "procesar" %}</span></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="contents-steps-inf"></div>
		</div>
		<!-- fin paso 4 -->
		</form>
		<!-- fin fichas pasos -->
	</div>
{% endblock %}
