<div id="titulo-carrito">
	<span class="titular negrita letra-capital">{% trans "resumen" %}:</span>
	<span class="titulos orange">{% trans "compra" %} {% trans "online" %}</span>
</div>
{% if nItems == 0 %}
	<div class="noItems_cart">{% trans "noItems_cart" %}</div>
{% else %}
<table class="carrito-tbl">
	<thead>
		<tr>
			<th width="60%">Producto</th>
			<th width="20%">Cantidad</th>
			<th width="20%">Precio</th>
			<!-- <th>Precio promoción</th> -->
		</tr>
	</thead>
	<tbody>
		{% for item in shoppingCart %}
			<tr>
				<td><a href="{{ ('/cursos_online/ficha/' ~ item.description)|basePathLang(lang)}}" class="enlaces">{{ item.description|trans }}</a></td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.price? item.price|currencyFormat(currency)|raw: '' }}</td>
				<!-- <td>{{ item.promotionalPrice? item.promotionalPrice|currencyFormat(currency)|raw: '' }}</td> -->
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="1"></td>
			<td><span class="negrita"> Subtotal: <span></td>
			<td class="subtotal">{{ shoppingCart.subtotal|currencyFormat(currency)|raw }}</td>
		</tr>
		<!-- <tr>
			<td colspan="4">Total: {{ shoppingCart.total|currencyFormat(currency)|raw }}</td>
		</tr> -->
	</tfoot>
</table>
<div id="revisar-comprar" class="orange"><a href="{{ '/compras'|basePathLang(lang) }}">{% trans "revisar_compra" %}</a></div>
{% endif %}
