{%extends 'template.html.twig'%}
{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_compras") }}
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="{{ "/assets/js/redireccion.js"|basePath }}"></script>
<script type="text/javascript" src="{{ "/assets/js/compras.js"|basePath }}"></script>
{% endblock %}

{% block content %}
	<div id="compras-content">
		<p>{{ 'espera_pasarela'|trans }}</p>
                <img src="{{ '/assets/img/compra/ajax-loader.gif'|basePath }}" alt="cargando" />
	</div>
        <form action="{{ json.url | raw }}" name="formulario">
            {{ json.inputs | raw }}
            <input type="submit" value="aceptar"/>
        </form>
{% endblock %}
