{% extends "Manager/CodigosPromocionales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">{{ id is not defined or id==''? 'Nuevo': 'Modificación' }}</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="post" action="{{ '/manager/codigosPromocionales/save'|basePath }}">
		<input type="hidden" name="id" value="{{ id is defined? id: '' }}">
		<fieldset>
			<div class="control-group {{ messages is defined and messages['codigo'] is defined? 'error': '' }}">
				<label class="control-label" for="codigo">Código</label>
				<div class="controls">
					<input type="text" class="input-xxlarge" id="codigo" name="codigo" value="{{ codigo is defined? codigo: '' }}">
					{% if messages is defined and messages['codigo'] is defined %}
						<span class="help-inline">{{ messages['codigo'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['descripcion'] is defined? 'error': '' }}">
				<label class="control-label" for="descripcion">Descripción</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="descripcion" name="descripcion" value="{{ descripcion is defined? descripcion: '' }}">
					{% if messages is defined and messages['descripcion'] is defined %}
						<span class="help-inline">{{ messages['descripcion'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and (messages['precio'] is defined or messages['precioEUR'] is defined or messages['precioUSD'] is defined or messages['precioRBR'] is defined or messages['precioGBP'] is defined)? 'error': '' }}">
				<label class="control-label" for="precioEUR">Precio</label>
				<div class="controls">
					<div class="input-append">
                		<input class="input-small right" id="precioEUR" name="precioEUR" type="text" value="{{ precioEUR is defined? precioEUR: '' }}"><span class="add-on">&euro;</span>
						{% if messages is defined and messages['precioEUR'] is defined %}
							<span class="help-inline">{{ messages['precioEUR'] }}</span>
						{% endif %}
						{% if messages is defined and messages['precio'] is defined %}
							<span class="help-inline">{{ messages['precio'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioUSD" name="precioUSD" type="text" value="{{ precioUSD is defined? precioUSD: '' }}"><span class="add-on">$</span>
						{% if messages is defined and messages['precioUSD'] is defined %}
							<span class="help-inline">{{ messages['precioUSD'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioRBR" name="precioRBR" type="text" value="{{ precioRBR is defined? precioRBR: '' }}"><span class="add-on">R$</span>
						{% if messages is defined and messages['precioRBR'] is defined %}
							<span class="help-inline">{{ messages['precioRBR'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioGBP" name="precioGBP" type="text" value="{{ precioGBP is defined? precioGBP: '' }}"><span class="add-on">&pound;</span>
						{% if messages is defined and messages['precioGBP'] is defined %}
							<span class="help-inline">{{ messages['precioGBP'] }}</span>
						{% endif %}
              		</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Guardar</button>
				{% if (id is defined) %}
					<a href="{{ ('/manager/codigosPromocionales/view'|basePath)~'?id='~id }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% else %}
					<a href="{{ '/manager/codigosPromocionales/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% endif %}
			</div>
		</fieldset>
	</form>
	
{% endblock %}
