{% extends "Manager/CodigosPromocionales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Consulta</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="2"></th>
				<th colspan="4" class="center">Precio</th>
			</tr>
			<tr>
				<th>Nombre</th>
				<th>Cód. Plat.</th>
				<th class="right">EUR</th>
				<th class="right">USD</th>
				<th class="right">RBR</th>
				<th class="right">GBP</th>
			</tr>
		</thead>
		<tbody>
			{% for codigoPromocional in codigosPromocionales %}
				<tr class="selectable" onclick="view({{ codigoPromocional.id }})">
					<td>{{ codigoPromocional.codigo }}</td>
					<td>{{ codigoPromocional.descripcion }}</td>
					<td class="right">{{ codigoPromocional.precioEUR? codigoPromocional.precioEUR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ codigoPromocional.precioUSD? codigoPromocional.precioUSD|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ codigoPromocional.precioRBR? codigoPromocional.precioRBR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ codigoPromocional.precioGBP? codigoPromocional.precioGBP|number_format(2,',','.'): '' }}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9" class="right">
					<a href="{{ '/manager/codigosPromocionales/edit'|basePath }}" class="btn btn-primary">
						<i class="icon-plus"></i> Nuevo
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<form id="viewForm" method="get" action="{{ '/manager/codigosPromocionales/view'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function view(id) {
	        $('#viewForm input[name="id"]').val(id);
	        $('#viewForm').submit();
	    }
	</script>
{% endblock %}
