{% extends "Manager/CodigosPromocionales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Ver</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="get" action="{{ '/manager/codigosPromocionales/edit'|basePath }}">
		<input type="hidden" name="id" value="{{ codigoPromocional.id }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Código</label>
				<div class="controls">
					<span class="input-xxlarge uneditable-input">{{ codigoPromocional.codigo }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Descripcion</label>
				<div class="controls">
					<span class="input-xlarge uneditable-input">{{ codigoPromocional.descripcion }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Precio</label>
				<div class="controls">
					<span class="input-small uneditable-input right">{{ codigoPromocional.precioEUR? codigoPromocional.precioEUR|number_format(2,',','.'): '' }} &euro;</span><br/>
					<span class="input-small uneditable-input right">{{ codigoPromocional.precioUSD? codigoPromocional.precioUSD|number_format(2,',','.'): '' }} $</span><br/>
					<span class="input-small uneditable-input right">{{ codigoPromocional.precioRBR? codigoPromocional.precioRBR|number_format(2,',','.'): '' }} R$</span><br/>
					<span class="input-small uneditable-input right">{{ codigoPromocional.precioGBP? codigoPromocional.precioGBP|number_format(2,',','.'): '' }} &pound;</span>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
				<a href="#" onclick="remove({{ codigoPromocional.id }}); return false" class="btn btn-warning"><i class="icon-trash"></i> Borrar</a>
				<a href="{{ '/manager/codigosPromocionales/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Volver</a>
			</div>
		</fieldset>
	</form>
	
	<form id="removeForm" method="get" action="{{ '/manager/codigosPromocionales/delete'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function remove(id) {
	    	if (confirm("¿Desea eliminar este código promocional?")) {
		        $('#removeForm input[name="id"]').val(id);
		        $('#removeForm').submit();
	    	}
	    }
	</script>
	
{% endblock %}
