{% extends "Manager/CursosPresenciales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">{{ id is not defined or id==''? 'Nuevo': 'Modificación' }}</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="post" action="{{ '/manager/cursosPresenciales/save'|basePath }}">
		<input type="hidden" name="id" value="{{ id is defined? id: '' }}">
		<fieldset>
			<div class="control-group {{ messages is defined and messages['nombre'] is defined? 'error': '' }}">
				<label class="control-label" for="nombre">Nombre</label>
				<div class="controls">
					<input type="text" class="input-xxlarge" id="nombre" name="nombre" value="{{ nombre is defined? nombre: '' }}">
					{% if messages is defined and messages['nombre'] is defined %}
						<span class="help-inline">{{ messages['nombre'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['nivel'] is defined? 'error': '' }}">
				<label class="control-label" for="nivel">Nivel</label>
				<div class="controls">
					<input type="text" class="input-small" id="nivel" name="nivel" value="{{ nivel is defined? nivel: '' }}">
					{% if messages is defined and messages['nivel'] is defined %}
						<span class="help-inline">{{ messages['nivel'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Guardar</button>
				{% if (id is defined) %}
					<a href="{{ ('/manager/cursosPresenciales/view'|basePath)~'?id='~id }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% else %}
					<a href="{{ '/manager/cursosPresenciales/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% endif %}
			</div>
		</fieldset>
	</form>
	
{% endblock %}
