{% extends "Manager/CursosPresenciales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Consulta</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Nivel</th>
			</tr>
		</thead>
		<tbody>
			{% for cursoPresencial in cursosPresenciales %}
				<tr class="selectable" onclick="view({{ cursoPresencial.id }})">
					<td>{{ cursoPresencial.nombre }}</td>
					<td>{{ cursoPresencial.nivel }}</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9" class="right">
					<a href="{{ '/manager/cursosPresenciales/edit'|basePath }}" class="btn btn-primary">
						<i class="icon-plus"></i> Nuevo
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<form id="viewForm" method="get" action="{{ '/manager/cursosPresenciales/view'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function view(id) {
	        $('#viewForm input[name="id"]').val(id);
	        $('#viewForm').submit();
	    }
	</script>
{% endblock %}
