{% extends "Manager/template.html.twig" %}

{% block breadcrumb %}
	<li>
		<a href="{{ '/manager/cursosPresenciales/main'|basePath }}">Cursos presenciales</a> <span class="divider">/</span>
	</li>
{% endblock %}

{% block content %}
{% endblock %}
