{% extends "Manager/CursosPresenciales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Ver</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="get" action="{{ '/manager/cursosPresenciales/edit'|basePath }}">
		<input type="hidden" name="id" value="{{ cursoPresencial.id }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Nombre</label>
				<div class="controls">
					<span class="input-xxlarge uneditable-input">{{ cursoPresencial.nombre }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Nivel</label>
				<div class="controls">
					<span class="input-small uneditable-input">{{ cursoPresencial.nivel }}</span>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
				<a href="#" onclick="remove({{ cursoPresencial.id }}); return false" class="btn btn-warning"><i class="icon-trash"></i> Borrar</a>
				<a href="{{ ('/manager/cursosPresencialesDetalles/index?id='~cursoPresencial.id)|basePath }}" class="btn btn-info">Detalles</a>
				<a href="{{ '/manager/cursosPresenciales/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Volver</a>
			</div>
		</fieldset>
	</form>
	
	<form id="removeForm" method="get" action="{{ '/manager/cursosPresenciales/delete'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function remove(id) {
	    	if (confirm("¿Desea eliminar este curso?")) {
		        $('#removeForm input[name="id"]').val(id);
		        $('#removeForm').submit();
	    	}
	    }
	</script>
	
{% endblock %}
