<form method="POST" action="http://servicepay/service/saveCart">
	<input type="text" value='{"nombre":"Francisco Javier","apellidos":"Palma Moreno","nif":"111111111H","email":"palmasev@gmail.com","telefono":"7500706","direccion":"Jaen 4, 3 Dcha","poblacion":"Camas","codigo_postal":"41900","tienda":"222e29fc733b01b672eb0678b1c1e076","pasarela":"b00d1af9ba7e6d1d9c79a57de0c108dd","tipo":"Tarjeta","moneda":"EUR","detalles":[{"descripcion":"1 Curso Elemental I","precio_unidad":150,"nombre":"Francisco Javier","apellidos":"Palma","email":"fpalma@grupogdt.com","codigo":"10418","fecha_inicio":"2012-05-04","fecha_fin":"2012-05-07"},{"descripcion":"1 Curso Elemental I (+ Tutor Personal)","precio_unidad":310,"nombre":"francisco Javier","apellidos":"Palma","email":"fpalma@grupogdt.com","codigo":"10418","fecha_inicio":"2012-05-04","fecha_fin":"2012-08-02"}]}' name="compra" />
	<input type="submit" value="Aceptar">
</form>
