{%extends 'template.html.twig'%}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_campus") }}
{% endblock %}

{% block content %}
<div id="content-campus">
	<div id="caja_izq">
		<div id="caja_der">
			 <div class="izquierda" id="content-caja">
				<div class="caja-sup"></div>
				<div class="contenido-caja">
					<div class="textos-cajas titular"><span class="letra-capital">{% trans "campus" %}</span> <span class="azul">{% trans "online" %}</span></div>
					<div class="textos-cajas">{{ macros.trans_raw("txt_campus") }}</div>
					<div id="loginCampus">
						{{ macros.formularioLogin() }}
						<div class="clear"></div>
					</div>
					<div class="textos-cajas">{{ macros.trans_raw("txt_campus2") }}</div>
					<div class="vimeoVideo">
						{% if lang == 'en'%}
							<iframe src="http://player.vimeo.com/video/40235742?title=0&amp;byline=0&amp;portrait=0" width="686" height="429" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						{% endif %}
						{% if lang == 'es'%}
							<iframe src="http://player.vimeo.com/video/40282384" width="686" height="429" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						{% endif %}
					</div>
				</div>
			 </div>
			<div class="izquierda degradadoDerecha" id="content-derecha-universidades">
				<div class="imgSuperiorDerecha"></div>
				<div class="lateral-podcast-{{ lang }}"></div>
				<div class="lateral-demo-campus">
					<div id="txt-lateral-campus">
						<div class="titulos azul">{% trans "txt_derecha_campus" %}</div>
						<div class="titulos">{% trans "txt_derecha_campus2" %}</div>
						<input type="text" name="campus_send" class="cajatexto" id="campus_send" value="{% trans 'txt_caja_dch-online' %}"/>
						<div class="error_txt oculto">{% trans "introduce_mail" %}</div>
						<div class="boton_general linkable" onclick="envioMail(this)"><span>{% trans "btn-inf-dch-online" %}</span></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="lateral-inferior"></div>
			</div>	
		</div>
	</div>
</div>

{% endblock %}