{%extends 'template.html.twig'%}

{% block javascript %}
{{ parent() }}
<script type="text/javascript" src="/assets/js/contacto.js"></script>
{% endblock %}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_contacto") }}
{% endblock %}

{% block content %}

<div id="content-contacto">
	<div id="caja_izq">
		<div id="caja_der">
			 <div class="izquierda" id="content-caja">
				<div class="caja-sup"></div>
				<div class="contenido-caja">
					<div class="textos-cajas titular-normal"><span class="azul">{% trans "contacto" %}</span> <span>(*) {% trans "campos_obligatorios" %}</span></div>
					<form id="form_contacto" action="{{ '/correo/contacto'|basePathLang(lang) }}" method="post">
						<fieldset class="izquierda">
							<label for="nombre">{% trans "nombre" %} (*)</label>
							<input type="text" class="input_contacto" name="nombre" id="nombre" tabindex="1" />
							<label for="empresa">{% trans "empresa" %}</label>
							<input type="text" class="input_contacto" name="empresa" id="empresa" tabindex="3"/>
							<label for="email">{% trans "email" %} (*)</label>
							<div id="error_msg_mail" class="oculto error_txt">{% trans "mail_incorrecto" %}</div>
							<input type="text" class="input_contacto" name="email" id="email" tabindex="5"/>
						</fieldset>
						<fieldset class="derecha">
							<label for="apellidos">{% trans "apellidos" %} (*)</label>
							<input type="text" class="input_contacto" name="apellidos" id="apellidos" tabindex="2"/>
							<label for="cargo">{% trans "cargo" %}</label>
							<input type="text" class="input_contacto" name="cargo" id="cargo" tabindex="4"/>
							<label for="tlfn">{% trans "tlfn" %}</label>
							<input type="text" class="input_contacto" name="tlfn" id="tlfn" tabindex="6"/>
						</fieldset>
						<div class="clear"></div>
						<fieldset>
							<label for="consulta">{% trans "consulta" %} (*)</label>
							<textarea class="textarea_contacto" name="consulta" id="consulta" tabindex="7"></textarea>
							<div id="botonesFormu">
								<div class="izquierda">
									<input type="checkbox" name="nota_legal" id="nota_legal" /> {% trans "heleido"%} <a id="notalegal_footer" href="#content-politica" class="enlaces">{% trans "nota" %} {% trans "legal" %}</a>
								</div>
								<div id="botonera-contacto" class="derecha">
									<div class="boton_general izquierda linkable" onclick="resetFields();"><span>{% trans "borrar-campos" %}</span></div>
									<div class="boton_general derecha linkable" onclick="validaContacto();"><span>{% trans "enviar-consulta" %}</span></div>
								</div>
								<div class="clear"></div>
							</div>
						</fieldset>
					</form>
				</div>
			 </div>
			<div class="izquierda degradadoDerecha" id="content-derecha-universidades">
				<div class="imgSuperiorDerecha"></div>
				<div class="lateral-podcast-{{ lang }}"></div>
				<div class="lateral-demo-campus">
					<div id="txt-lateral-campus">
						<div class="titulos azul">{% trans "txt_derecha_campus" %}</div>
						<div class="titulos">{% trans "txt_derecha_campus2" %}</div>
						<input type="text" name="campus_send" class="cajatexto" id="campus_send" value="{% trans 'txt_caja_dch-online' %}"/>
						<div class="error_txt oculto">{% trans "introduce_mail" %}</div>
						<div class="boton_general linkable" onclick="envioMail(this);"><span>{% trans "enviar" %}</span></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="lateral-inferior"></div>
			</div>	
		</div>
	</div>
</div>

{% endblock %}