{%extends 'template.html.twig'%}
{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_empresas") }}
{% endblock %}

{% block content %}
	{{ macros.bulats_popup() }}
	<div id="content-empresas">
		<div id="caja_izq">
			<div id="caja_der">
				 <div class="izquierda" id="content-caja">
					<div class="caja-sup"></div>
					<div class="contenido-caja">
						<div class="textos-cajas titular-normal azul">{% trans "titulo_empresas" %}</div>
						<div class="textos-cajas">{{ macros.trans_raw("txt_empresas") }}</div>
						<div class="grafica">
							<div class="izquierda">{% trans "entorno_personalizado" %}</div>
							{% if lang == 'en' %}
								<div class="izquierda top-5">{% trans "seguimiento" %}</div>
								<div class="izquierda">{% trans "tutorizacion" %}</div>
							{% endif %}
							{% if lang == 'es' %}
								<div class="izquierda top10">{% trans "seguimiento" %}</div>
								<div class="izquierda top10">{% trans "tutorizacion" %}</div>
							{% endif %}						
							<div class="izquierda">{% trans "formacion_colaborativa" %}</div>
							<div class="izquierda">{% trans "informe_evaluacion" %}</div>
							<div class="clear"></div>
						</div>
						<div class="textos-cajas">{{ macros.trans_raw("txt_empresas2") }}</div>
						<div class="logosEmpresas">
							<div id="logoBulats" class="izquierda"></div>
							<div id="logoDele" class="derecha"></div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="izquierda degradadoDerecha" id="content-derecha-empresas">
					<div class="imgSuperiorDerecha"></div>
					<div class="lateral-nivel">
						<div id="txt-lateral-empresas">
							<div class="titulos">{{ macros.trans_raw('txt_empresas_lateral') }}</div>
							<a class="iframe" href="http://www.spanischool.com/test/testNivel.php"><div class="boton_general"><span>{% trans "btn-sup-dch-online" %}</span></div></a>
						</div>
					</div>
					<div class="lateral-campus-{{ lang }}"></div>
					<div class="clear"></div>
					<div class="lateral-inferior"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}