{%extends 'template.html.twig'%}
{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_uni") }}
{% endblock %}

{% block content %}
	{{ macros.bulats_popup() }}
	<div id="content-empresas">
		<div id="caja_izq">
			<div id="caja_der">
				 <div class="izquierda" id="content-caja">
					<div class="caja-sup"></div>
					<div class="contenido-caja">
						<div class="textos-cajas titular-normal azul">{% trans "titulo_universidades" %}</div>
						<div class="textos-cajas">{{ macros.trans_raw("txt_universidades") }}</div>
						<div class="textos-cajas">{{ macros.trans_raw("txt_universidades2") }}</div>
						<div class="logosEmpresas">
							<div id="logoBulats" class="izquierda"></div>
							<div id="logoDele" class="derecha"></div>
							<div class="clear"></div>
						</div>
					</div>
				 </div>
				<div class="izquierda degradadoDerecha" id="content-derecha-universidades">
					<div class="imgSuperiorDerecha"></div>
					<div class="lateral-costa-{{ lang }}"></div>
					<div class="lateral-demo">
						<div id="txt-lateral-universidades">
							<div class="titulos azul">{% trans "txt_derecha_uni" %}</div>
							<a href="{{ ('/site/campus')|basePathLang(lang) }}"><div class="boton_general"><span>{% trans "ver_demo_campus" %}</span></div></a>
						</div>
					</div>
					<div class="clear"></div>
					<div class="lateral-inferior"></div>
				</div>	
			</div>
		</div>
	</div>
{% endblock %}