<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="{{ '/resources/lib/bootstrap/css/bootstrap.min.css'|basePath }}" rel="stylesheet" type="text/css">
		<link href="{{ '/resources/lib/bootstrap/css/bootstrap-responsive.min.css'|basePath }}" rel="stylesheet" type="text/css">
		<link href="{{ '/resources/css/Manager/main.css'|basePath }}" rel="stylesheet" type="text/css">
	    
		<script type="text/javascript" src="{{ '/resources/lib/jquery/jquery.min.js'|basePath }}"></script>
		<script type="text/javascript" src="{{ '/resources/js/main.js'|basePath }}"></script>
		
		{% block stylesheets %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="{{ '/manager'|basePath }}">
						Spanischool
					</a>
					<ul class="nav">
						<li><a href="{{ '/manager/productos/index'|basePath }}">Productos</a></li>
						<li><a href="{{ '/manager/carteles/index'|basePath }}">Carteles</a></li>
						<li><a href="{{ '/manager/cartelesPresenciales/index'|basePath }}">Carteles presenciales</a></li>
						<li><a href="{{ '/manager/comunesPresenciales/index'|basePath }}">Comunes presenciales</a></li>
						<li><a href="{{ '/manager/cursosPresenciales/index'|basePath }}">Cursos presenciales</a></li>
					</ul>
					<ul class="nav pull-right">
						<li><a href="{{ '/manager/logout'|basePath }}"><i class="icon-off icon-white"></i> Salir</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<ul class="breadcrumb">
				{% block breadcrumb %}{% endblock %}
			</ul>
		</div>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
