{%extends 'template.html.twig'%}

{% block javascript %}
	{{ parent() }}
		<script type="text/javascript" src="{{ "/assets/js/ficha_presenciales.js"|basePath }}"></script>
{% endblock %}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_cursos_pre_ficha") }}
{% endblock %}


{% block content %}
<!-- script recomendar fb -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=134439069933864";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- fin script recomendar -->

<div id="ficha-presenciales-content">
	<div class="izquierda">
		{% for item in curso %}
			<div id="titulo-ficha">
				<span class="azul"><span class="letra-capital">{% trans "curso" %}</span> {% trans "presencial" %}: </span>
				<span>{{ item.nombre|trans }}</span>
			</div>
		{% endfor %}
		<div id="tabla-presenciales-content">
			<div class="img-ficha-presenciales izquierda {{ curso[0].nombre }}"></div>
			<div id="tabla-presenciales" class="derecha">
				<div class="texto">{% trans "txt_entrada_tabla_presenciales" %}</div>
				<table id="presenciales-tbl">
				{% for item in curso %}
					{% for det in item.detalles %}
					<tr>
						<td width="30%">{{ det.semanas }} {% trans "semanas" %}</td>
						<td width="50%">{{ det.horas }} {% trans "horas" %}</td>
						<td width="20%">{{ det|currencyValue(moneda)|raw }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
				</table>
				<table id="masInfo-presenciales">
					{% for comun in comunes %}
						<tr>
							<td width="80%">{{ macros.trans_raw(comun.nombre)}}</td>
							{% if comun.precioEUR > 0 and comun.precioUSD > 0 and comun.precioGBP > 0 and comun.precioRBR > 0 %}
								<td width="20%">{{ comun|currencyValue(moneda)|raw }}</td>
							{% else %}
								<td width="20%">{% trans "incluido" %}</td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
			</div>
			<div class="derecha caja-cambio-divisa">{% trans "conversor_moneda" %} > 
				<select class="currency_selector">
                	{% for c in ['EUR', 'USD', 'GBP'] %}
                    	<option value="{{ c }}" {{ (c==currency)?'selected="selected"':'' }}>{{ c }}</option>
                    {% endfor %}
				</select>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="lateral-ficha-presenciales" class="derecha">
		<div id="txt-lateral-presenciales-2" class="derecha">
			<p class="blanco">{% trans "txt_alojarte" %}</p>
			<p>{% trans "tarifas_especiales" %}</p>
			<a href="{{ '/site/contacto'|basePathLang(lang)}}"><div class="boton_general"><span>{% trans "consulta_tarifas" %}</span></div></a>
		</div>		
		<div id="txt-lateral-presenciales-1" class="izquierda">
			<p>{% trans "conocer_calamijas" %}</p>
			{% if lang == 'es' or lang == 'pt' %}
				{% set linkGaleria = 'http://calamijashotel.com/galeria.html' %}
				{% set linkConoceCosta = 'http://calamijashotel.com/costadelsol.html' %}
				{% set linkConoceHotel = 'http://calamijashotel.com/' %}
			{% endif %}
			{% if lang == 'en' %}
				{% set linkGaleria = 'http://calamijashotel.com/galeria_en.html' %}
				{% set linkConoceCosta = 'http://calamijashotel.com/costadelsol_en.html' %}				
				{% set linkConoceHotel = 'http://calamijashotel.com/index_en.html' %}				
			{% endif %}
			<a href="{{ linkGaleria }}" target="_blank"><div class="boton_general"><span>{% trans "ver_galeria" %}</span></div></a>
		</div>
		<div id="dudas-txt-presenciales" class="derecha"><a href="{{ '/site/contacto'|basePathLang(lang) }}" class="enlaces">{% trans "dudas" %}</a></div>
	</div>
	<div class="clear"></div>
	
	<div id="btn-otros-programas" class="boton_mas"><span>{% trans "otros_programas" %}</span></div>
	
	<div id="pestanas-presenciales" class="pestanas">
		<div id="head_tags">
			<div id="tags_nav" class="izquierda">
				<div id="tag-programa" class="izquierda tags tag-pulsado">{% trans "pest_programa" %}</div>
				<div id="tag-entorno" class="izquierda tags">{% trans "pest_entorno" %}</div>
				<div id="tag-alojamiento" class="izquierda tags">{% trans "pest_alojamiento" %}</div>
				<div id="tag-escuela" class="izquierda tags">{% trans "pest_escuela" %}</div>
				<div id="tag-actividades" class="izquierda tags">{% trans "pest_actividades" %}</div>
				<div id="tag-funinfo" class="izquierda tags">{% trans "pest_funinfo" %}</div>				
			</div>
			<div class="clear"></div>
		</div>
		<div id="tags_body">
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false" data-action="recommend" data-font="trebuchet ms"></div>
				<div class="clear"></div>
			<div id="tag-programa-content">
 				<div class="izquierda">
					{% for item in curso %}
						{% set texto = item.nombre ~ '_pest_programa'%}
						{{ macros.trans_raw(texto) }}
						{% if item.nombre|findString('golf') %}
							<a href="{{ ('/assets/pdf/golf_' ~ lang ~ '.pdf')|basePath }}" target="_blank"><div class="boton_general"><span>{% trans "descargar_programa" %}</span></div></a>
						{% endif %}
						{% if item.nombre|findString('gastronomia') %}
							<a href="{{ ('/assets/pdf/gastronomia_' ~ lang ~ '.pdf')|basePath }}" target="_blank"><div class="boton_general"><span>{% trans "descargar_programa" %}</span></div></a>
						{% endif %}
					{% endfor %}
				</div>
				<div class="derecha" id="programa_{{ lang }}">
					<!-- <p class="texto-lateral">{% trans "grupos_reducidos" %}</p> -->
				</div>
				<div class="clear"></div>
			</div>
			<div id="tag-entorno-content" class="oculto">
				<div class="izquierda">
					{% trans "txt_pest_entorno" %}
					<a href="{{ linkConoceCosta }}" target="_blank"><div class="boton_general" id="btn_conoce_costa"><span>{% trans "conoce_costa" %}</span></div></a>
				</div>
				<div class="derecha" id="entorno_{{ lang }}">
					<!-- <p class="texto-lateral"></p> -->
				</div>
				<div class="clear"></div>				
			</div>
			<div id="tag-alojamiento-content" class="oculto">
				<div class="izquierda">
					{% trans "txt_pest_alojamiento" %}
					<a href="{{ linkConoceHotel }}" target="_blank"><div class="boton_general"><span>{{ macros.trans_raw("btn_conoce_hotel") }}</span></div></a>
				</div>
				<div class="derecha" id="alojamiento_{{ lang }}">
					<p class="texto-lateral"></p>
				</div>
				<div class="clear"></div>
			</div>
			<div id="tag-escuela-content" class="oculto">
				<div class="izquierda">
					{% trans "txt_pest_escuela" %}
					{% if lang == 'es' or lang == 'pt'%}
						{% set videoruta = 'http://www.ciomijas.com/portal/video/video.htm' %}
					{% endif %}
					{% if lang == 'en'%}
						{% set videoruta = 'http://www.ciomijas.com/portal_ingles/video/video.htm' %}
					{% endif %}
					<a class="iframe" href="{{ videoruta }}"><div class="boton_general"><span>{% trans "ver_video" %}</span></div></a>
				</div>
				<div class="derecha" id="escuela_{{ lang }}">
					<p class="texto-lateral"></p>
				</div>
				<div class="clear"></div>				
			</div>
			<div id="tag-actividades-content" class="oculto">
				<div class="izquierda">
					{% trans "txt_pest_actividades" %}
				</div>
				<div class="derecha" id="actividades_{{ lang }}">
					<p class="texto-lateral"></p>
				</div>
				<div class="clear"></div>				
			</div>
			<div id="tag-funinfo-content" class="oculto">
				<div class="izquierda texto">
					{% trans "txt_pest_funinfo" %}
				</div>
				<div id="funinfo_{{ lang }}" class="derecha">
					<p class="texto-lateral"></p>
				</div>
				<div class="clear"></div>				

			</div>
		</div>
	</div>
	<div id="footer_tags"></div>
</div>
{% endblock %}