{%extends 'template.html.twig'%}

{% block javascript %}
	{{ parent() }}
	<!-- include Cycle plugin -->
	<script type="text/javascript" src="/assets/js/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="/assets/js/presenciales.js"></script>
{% endblock %}

{% block TextoCabecera %}
	{{ macros.trans_raw("txt_cabecera_cursos_pre") }}
{% endblock %}

{% block content %}
	{{ macros.bulats_popup() }}
	<div id="cursos-presenciales-content">
		<div id="cursos-presenciales-content-sup">
			<div class="izquierda">
				<div class="titular">{% trans "cursos" %} <span class="azul">{% trans "presenciales" %}</span></div>
				<div class="texto">{{ macros.trans_raw("txt_intro_presenciales") }}</div>
			</div>
			<div class =" derecha">
				<div id="content-vallas-presenciales">
					<div id="vallas">
						<div class="slideshow rounded-border">
							{% for valla in vallas %}
								<img src="{{ (uploadURL ~ valla.fichero) | basePath}}" class="rounded-border">
							{% endfor %}
						</div>
					</div>	
					<div class="base">
						<div id="base_buttons">
							{% for i in range(0, vallas|length - 1) %}
								<img src="/assets/img/home/b_valla_blanco.png" id="bot_valla_{{ i }}" name="bot_valla_{{ i }}" pulsado="false"/>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="cursos-presenciales-content-inf">
			<div class="izquierda">
				<table id="listaCursos">
					<thead>
						<tr>
							<th>{% trans "programa" %}</th>
							<th>{% trans "nivel" %}</th>
							<th>{% trans "semanas" %}</th>
							<th>{% trans "horas" %}</th>
							<th>{% trans "residencia" %}</th>
							<th>{% trans "precio" %}</th>
							<th>{% trans "masinfo" %}</th>
						</tr>
					</thead>
					<tbody>
					{% for curso in cursos %}
						{% for detalle in curso.detalles %}
							{% if loop.first %}
								<tr class="bordeBlanco">
							{% else %}
								<tr>
							{% endif %}
								<td>{% if loop.first %} <a href="{{ ('/cursos_presenciales/ficha/' ~ curso.nombre)|basePathLang(lang) }}" class="enlaces">{{ curso.nombre|trans }}</a> {% endif %}</td>
								<td>{% if loop.first %}{{ curso.nivel }}{% endif %}</td>
								<td>{{ detalle.semanas }}</td>
								<td>{{ detalle.horas }}</td>
								<td>{{ macros.trans_raw(detalle.residencia) }}</td>
								<td>{{ detalle|currencyValue(moneda)|raw }}</td>
								<td>{% if loop.first %}<a href="{{ ('/cursos_presenciales/ficha/' ~ curso.nombre)|basePathLang(lang) }}" class="enlaces">{% trans "leer" %}</a>{% endif %}</td>								
							</tr>
						{% endfor %}							
					{% endfor %}
					</tbody>
				</table>
				<div class="margen-inf20">
					<div class="right caja-cambio-divisa">{% trans "conversor_moneda" %} > 
						<select class="currency_selector">
	                    	{% for c in ['EUR', 'USD', 'GBP'] %}
	                        	<option value="{{ c }}" {{ (c==currency)?'selected="selected"':'' }}>{{ c }}</option>
	                        {% endfor %}
						</select>
					</div>
					<div class="clear"></div>
				</div>			
			</div>
			<div class="derecha">
				<div id="presenciales-blq-derecha">
					<p class="blanco">{% trans "conocer_instalaciones" %}</p>
					{% if lang == 'es' or lang == 'pt'%}
						{% set videoruta = 'http://www.ciomijas.com/portal/video/video.htm' %}
					{% endif %}
					{% if lang == 'en'%}
						{% set videoruta = 'http://www.ciomijas.com/portal_ingles/video/video.htm' %}
					{% endif %}					
					<a class="iframe" href="{{ videoruta }}"><div class="boton_general"><span>{% trans "ver_video" %}</span></div></a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
{% endblock %}