{% extends "Manager/Paquetes/template.html.twig" %}

{% block javascripts %}
	<script type="text/javascript" src="{{ '/resources/lib/bootstrap/js/bootstrap.min.js'|basePath }}"></script>
	<script type="text/javascript" src="{{ '/resources/views/Manager/Paquetes/main.js'|basePath }}"></script>
{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Consulta</li>
{% endblock %}

{% block content %}
	{{ parent() }}

	<form class="form-horizontal" method="get" action="{{ '/manager/paquetes/edit'|basePath }}">
		<input type="hidden" name="id" value="{{ producto.paquete.id }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Descripcion</label>
				<div class="controls">
					<span class="input-xlarge uneditable-input">{{ producto.paquete.descripcion }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Ahorro</label>
				<div class="controls">
					<span class="input-small uneditable-input">{{ producto.paquete.ahorro }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">¿Activo?</label>
				<div class="controls">
					<span class="input-small uneditable-input">{{ producto.paquete.activo? '<i class="icon-ok"></i>': '' }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Precio</label>
				<div class="controls">
					<span class="input-small uneditable-input right">{{ producto.paquete.precioEUR? producto.paquete.precioEUR|number_format(2,',','.'): '' }} &euro;</span><br/>
					<span class="input-small uneditable-input right">{{ producto.paquete.precioUSD? producto.paquete.precioUSD|number_format(2,',','.'): '' }} $</span><br/>
					<span class="input-small uneditable-input right">{{ producto.paquete.precioRBR? producto.paquete.precioRBR|number_format(2,',','.'): '' }} R$</span><br/>
					<span class="input-small uneditable-input right">{{ producto.paquete.precioGBP? producto.paquete.precioGBP|number_format(2,',','.'): '' }} &pound;</span>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
			</div>
		</fieldset>
	</form>
	
	<h4>Productos asociados al paquete</h4>
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="5"></th>
				<th colspan="4" class="center">Precio</th>
			</tr>
			<tr>
				<th>Nombre</th>
				<th>Cód. Plat.</th>
				<th>Nivel</th>
				<th class="right">Horas</th>
				<th class="right">Días de acceso</th>
				<th class="right">EUR</th>
				<th class="right">USD</th>
				<th class="right">RBR</th>
				<th class="right">GBP</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for productoPaquete in producto.paquete.productos %}
				<tr>
					<td>{{ productoPaquete.nombre }}</td>
					<td>{{ productoPaquete.codigoPlataforma }}</td>
					<td>{{ productoPaquete.nivel }}</td>
					<td class="right">{{ productoPaquete.horas? productoPaquete.horas|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ productoPaquete.diasAcceso }}</td>
					<td class="right">{{ productoPaquete.precioEUR? productoPaquete.precioEUR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ productoPaquete.precioUSD? productoPaquete.precioUSD|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ productoPaquete.precioRBR? productoPaquete.precioRBR|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ productoPaquete.precioGBP? productoPaquete.precioGBP|number_format(2,',','.'): '' }}</td>
					<td class="right">
						{% if productoPaquete.id!=producto.id %}
							<a href="#" onclick="quitarProducto('{{ '/manager/paquetes/quitarProducto'|basePath }}', {{ producto.paquete.id }}, {{ productoPaquete.id }}); return false" class="btn btn-warning">
								<i class="icon-trash"></i> Quitar
							</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="10" class="right">
					<a href="#" onclick="abrirVentanaProductos('{{ '/manager/paquetes/productos'|basePath }}', {{ producto.paquete.id }}); return false" class="btn btn-primary">
						<i class="icon-plus"></i> Añadir productos
					</a>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="modal hide fade" id="anadirProducto">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>Productos a añadir</h3>
		</div>
		<div class="modal-body">
			<table>
				<tbody id="listaProductos"></tbody>
			</table>
		</div>
		<div class="modal-footer">
			<a href="#" onclick="guardarProductos('{{ '/manager/paquetes/guardarProductos'|basePath }}', {{ producto.paquete.id }}); return false" class="btn btn-primary">Aceptar</a>
			<a href="#" class="btn" data-dismiss="modal">Cancelar</a>
		</div>
	</div>
	
	<form id="refreshForm" method="get" action="{{ '/manager/paquetes/main'|basePath }}">
	</form>
{% endblock %}
