{% extends "Manager/Productos/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li>
		<a href="{{ '/manager/paquetes/main'|basePath }}">Paquetes</a> <span class="divider">/</span>
	</li>
{% endblock %}

{% block content %}
	<div class="well">
		<b>Producto:</b> {{ producto.nombre }}
	</div>
{% endblock %}
