{% extends "Manager/Carteles/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">{{ id is not defined or id==''? 'Nuevo': 'Modificación' }}</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="post" action="{{ '/manager/carteles/save'|basePath }}" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{{ id is defined? id: '' }}">
		<fieldset>
			{% if fichero is defined %}
				<div class="control-group">
					<label class="control-label">Imagen actual</label>
					<div class="controls">
						<img src="{{ (uploadURL~'/'~fichero)|basePath }}">
					</div>
				</div>
			{% endif %}
			<div class="control-group {{ messages is defined and messages['fichero'] is defined? 'error': '' }}">
				<label class="control-label" for="fichero">Imagen</label>
				<div class="controls">
					<input type="file" class="input-xxlarge" id="fichero" name="fichero">
					{% if messages is defined and messages['fichero'] is defined %}
						<span class="help-inline">{{ messages['fichero'] }}</span>
					{% endif %}
					<p class="help-block">(El tamaño máximo permitido es de {{ maxFileSize }} bytes)</p>
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['activo'] is defined? 'error': '' }}">
				<label class="control-label" for="ahorro">¿Activo?</label>
				<div class="controls">
					<input type="checkbox" id="activo" name="activo" {{ activo is defined and activo? 'checked="checked"': '' }}>
					{% if messages is defined and messages['activo'] is defined %}
						<span class="help-inline">{{ messages['activo'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['lang'] is defined? 'error': '' }}">
				<label class="control-label" for="ahorro">Idioma</label>
				<div class="controls">
					<select id="lang" name="lang">
						<option value="es" {{ (lang is defined and lang=='es')?'selected="selected"':''}}>Español</option>
						<option value="en" {{ (lang is defined and lang=='en')?'selected="selected"':''}}>Inglés</option>
						<option value="pt" {{ (lang is defined and lang=='pt')?'selected="selected"':''}}>Portugués</option>
					</select>
					{% if messages is defined and messages['lang'] is defined %}
						<span class="help-inline">{{ messages['lang'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Guardar</button>
				{% if (id is defined) %}
					<a href="{{ ('/manager/carteles/view'|basePath)~'?id='~id }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% else %}
					<a href="{{ '/manager/carteles/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% endif %}
			</div>
		</fieldset>
	</form>
	
{% endblock %}
