{% extends "Manager/Carteles/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Ver</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="get" action="{{ '/manager/carteles/edit'|basePath }}">
		<input type="hidden" name="id" value="{{ cartel.id }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Imagen</label>
				<div class="controls">
					<img src="{{ (uploadURL~'/'~cartel.fichero)|basePath }}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">¿Activo?</label>
				<div class="controls">
					<span class="input-small uneditable-input">{{ cartel.activo? '<i class="icon-ok"></i>': '' }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Idioma</label>
				<div class="controls">
					<span class="input-small uneditable-input">{{ cartel.langBeauty }}</span>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
				<a href="#" onclick="remove({{ cartel.id }}); return false" class="btn btn-warning"><i class="icon-trash"></i> Borrar</a>
				<a href="{{ '/manager/carteles/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Volver</a>
			</div>
		</fieldset>
	</form>
	
	<form id="removeForm" method="get" action="{{ '/manager/carteles/delete'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function remove(id) {
	    	if (confirm("¿Desea eliminar este cartel?")) {
		        $('#removeForm input[name="id"]').val(id);
		        $('#removeForm').submit();
	    	}
	    }
	</script>
	
{% endblock %}
