{% extends "Manager/CartelesPresenciales/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Consulta</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Imagen</th>
				<th>¿Activo?</th>
				<th>Idioma</th>				
			</tr>
		</thead>
		<tbody>
			{% for cartelPresencial in cartelesPresenciales %}
				<tr class="selectable" onclick="view({{ cartelPresencial.id }})">
					<td><img src="{{ (uploadURL~'/'~cartelPresencial.fichero)|basePath }}"></td>
					<td>
						{% if cartelPresencial.activo %}
							<i class="icon-ok"></i>
						{% endif %}
					</td>
					<td>{{ cartelPresencial.langBeauty }}</td>					
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9" class="right">
					<a href="{{ '/manager/cartelesPresenciales/edit'|basePath }}" class="btn btn-primary">
						<i class="icon-plus"></i> Nuevo
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
	<form id="viewForm" method="get" action="{{ '/manager/cartelesPresenciales/view'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function view(id) {
	        $('#viewForm input[name="id"]').val(id);
	        $('#viewForm').submit();
	    }
	</script>
{% endblock %}
