@CHARSET "UTF-8";

body { padding-top: 50px; }

form { margin: 0; padding: 0; }

.selectable:hover { cursor: pointer; }

table th.left,   table th.left,   .left   { text-align: left; }
table th.center, table th.center, .center { text-align: center; }
table th.right,  table td.right,  .right  { text-align: right; }
