{% extends "Manager/Productos/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">{{ id is not defined or id==''? 'Nuevo': 'Modificación' }}</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="post" action="{{ '/manager/productos/save'|basePath }}">
		<input type="hidden" name="id" value="{{ id is defined? id: '' }}">
		<fieldset>
			<div class="control-group {{ messages is defined and messages['nombre'] is defined? 'error': '' }}">
				<label class="control-label" for="nombre">Nombre</label>
				<div class="controls">
					<input type="text" class="input-xxlarge" id="nombre" name="nombre" value="{{ nombre is defined? nombre: '' }}">
					{% if messages is defined and messages['nombre'] is defined %}
						<span class="help-inline">{{ messages['nombre'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['codigoPlataforma'] is defined? 'error': '' }}">
				<label class="control-label" for="codigoPlataforma">Código plataforma</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="codigoPlataforma" name="codigoPlataforma" value="{{ codigoPlataforma is defined? codigoPlataforma: '' }}">
					{% if messages is defined and messages['codigoPlataforma'] is defined %}
						<span class="help-inline">{{ messages['codigoPlataforma'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['nivel'] is defined? 'error': '' }}">
				<label class="control-label" for="nivel">Nivel</label>
				<div class="controls">
					<input type="text" class="input-small" id="nivel" name="nivel" value="{{ nivel is defined? nivel: '' }}">
					{% if messages is defined and messages['nivel'] is defined %}
						<span class="help-inline">{{ messages['nivel'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['horas'] is defined? 'error': '' }}">
				<label class="control-label" for="horas">Horas</label>
				<div class="controls">
					<input type="text" class="input-small right" id="horas" name="horas" value="{{ horas is defined? horas: '' }}">
					{% if messages is defined and messages['horas'] is defined %}
						<span class="help-inline">{{ messages['horas'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['diasAcceso'] is defined? 'error': '' }}">
				<label class="control-label" for="diasAcceso">Días de acceso</label>
				<div class="controls">
					<input type="text" class="input-mini right" id="diasAcceso" name="diasAcceso" value="{{ diasAcceso is defined? diasAcceso: '' }}">
					{% if messages is defined and messages['diasAcceso'] is defined %}
						<span class="help-inline">{{ messages['diasAcceso'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and messages['tipo'] is defined? 'error': '' }}">
				<label class="control-label" for="tipo">Tipo</label>
				<div class="controls">
					<select class="input-large" id="tipo" name="tipo">
						{% if id is not defined or id=='' %}
							<option value=""></option>
						{% endif %}
						{% for tipoKey, tipoValue in tipos %}
							{% if tipo is defined and tipo==tipoKey %}
								<option value="{{ tipoKey }}" selected="selected">{{ tipoValue }}</option>
							{% else %}
								<option value="{{ tipoKey }}">{{ tipoValue }}</option>
							{% endif %}
						{% endfor %}
					</select>
					{% if messages is defined and messages['tipo'] is defined %}
						<span class="help-inline">{{ messages['tipo'] }}</span>
					{% endif %}
				</div>
			</div>
			<div class="control-group {{ messages is defined and (messages['precio'] is defined or messages['precioEUR'] is defined or messages['precioUSD'] is defined or messages['precioRBR'] is defined or messages['precioGBP'] is defined)? 'error': '' }}">
				<label class="control-label" for="precioEUR">Precio</label>
				<div class="controls">
					<div class="input-append">
                		<input class="input-small right" id="precioEUR" name="precioEUR" type="text" value="{{ precioEUR is defined? precioEUR: '' }}"><span class="add-on">&euro;</span>
						{% if messages is defined and messages['precioEUR'] is defined %}
							<span class="help-inline">{{ messages['precioEUR'] }}</span>
						{% endif %}
						{% if messages is defined and messages['precio'] is defined %}
							<span class="help-inline">{{ messages['precio'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioUSD" name="precioUSD" type="text" value="{{ precioUSD is defined? precioUSD: '' }}"><span class="add-on">$</span>
						{% if messages is defined and messages['precioUSD'] is defined %}
							<span class="help-inline">{{ messages['precioUSD'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioRBR" name="precioRBR" type="text" value="{{ precioRBR is defined? precioRBR: '' }}"><span class="add-on">R$</span>
						{% if messages is defined and messages['precioRBR'] is defined %}
							<span class="help-inline">{{ messages['precioRBR'] }}</span>
						{% endif %}
              		</div><br/>
					<div class="input-append">
                		<input class="input-small right" id="precioGBP" name="precioGBP" type="text" value="{{ precioGBP is defined? precioGBP: '' }}"><span class="add-on">&pound;</span>
						{% if messages is defined and messages['precioGBP'] is defined %}
							<span class="help-inline">{{ messages['precioGBP'] }}</span>
						{% endif %}
              		</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Guardar</button>
				{% if (id is defined) %}
					<a href="{{ ('/manager/productos/view'|basePath)~'?id='~id }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% else %}
					<a href="{{ '/manager/productos/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Cancelar</a>
				{% endif %}
			</div>
		</fieldset>
	</form>
	
{% endblock %}
