{% extends "Manager/Productos/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Consulta</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th colspan="6"></th>
				<th colspan="4" class="center">Precio</th>
			</tr>
			<tr>
				<th>Nombre</th>
				<th>Cód. Plat.</th>
				<th>Nivel</th>
				<th class="right">Horas</th>
				<th class="right">Días de acceso</th>
				<th>Tipo</th>
				<th class="right">EUR</th>
				<th class="right">USD</th>
				<th class="right">RBR</th>
				<th class="right">GBP</th>
			</tr>
		</thead>
		<tbody>
			{% for producto in productos %}
				<tr class="selectable" onclick="view({{ producto.id }})">
					<td>{{ producto.nombre }}</td>
					<td>{{ producto.codigoPlataforma }}</td>
					<td>{{ producto.nivel }}</td>
					<td class="right">{{ producto.horas? producto.horas|number_format(2,',','.'): '' }}</td>
					<td class="right">{{ producto.diasAcceso }}</td>
					<td>{{ tipos[producto.tipo] }}</td>
					<td class="right">{{ producto.precioEUR? producto.precioEUR|currencyFormat('EUR')|raw: '' }}</td>
					<td class="right">{{ producto.precioUSD? producto.precioUSD|currencyFormat('USD')|raw: '' }}</td>
					<td class="right">{{ producto.precioRBR? producto.precioRBR|currencyFormat('RBR')|raw: '' }}</td>
					<td class="right">{{ producto.precioGBP? producto.precioGBP|currencyFormat('GBP')|raw: '' }}</td>
				</tr>
			{% endfor %}
		</tbody>
		{% if isAdministrador %}
			<tfoot>
				<tr>
					<td colspan="10" class="right">
						<a href="{{ '/manager/productos/edit'|basePath }}" class="btn btn-primary">
							<i class="icon-plus"></i> Nuevo
						</a>
					</td>
				</tr>
			</tfoot>
		{% endif %}
	</table>
	<form id="viewForm" method="get" action="{{ '/manager/productos/view'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function view(id) {
	        $('#viewForm input[name="id"]').val(id);
	        $('#viewForm').submit();
	    }
	</script>
{% endblock %}
