{% extends "Manager/Productos/template.html.twig" %}

{% block breadcrumb %}
	{{ parent() }}
	<li class="active">Ver</li>
{% endblock %}

{% block content %}
	{{ parent() }}
	
	<form class="form-horizontal" method="get" action="{{ '/manager/productos/edit'|basePath }}">
		<input type="hidden" name="id" value="{{ producto.id }}">
		<fieldset>
			<div class="control-group">
				<label class="control-label">Nombre</label>
				<div class="controls">
					<span class="input-xxlarge uneditable-input">{{ producto.nombre }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Código plataforma</label>
				<div class="controls">
					<span class="input-xlarge uneditable-input">{{ producto.codigoPlataforma }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Nivel</label>
				<div class="controls">
					<span class="input-small uneditable-input">{{ producto.nivel }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Horas</label>
				<div class="controls">
					<span class="input-small uneditable-input right">{{ producto.horas? producto.horas|number_format(2,',','.'): '' }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Días de acceso</label>
				<div class="controls">
					<span class="input-mini uneditable-input right">{{ producto.diasAcceso }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Tipo</label>
				<div class="controls">
					<span class="input-xlarge uneditable-input">{{ tipos[producto.tipo] }}</span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Precio</label>
				<div class="controls">
					<span class="input-small uneditable-input right">{{ producto.precioEUR? producto.precioEUR|number_format(2,',','.'): '' }} &euro;</span><br/>
					<span class="input-small uneditable-input right">{{ producto.precioUSD? producto.precioUSD|number_format(2,',','.'): '' }} $</span><br/>
					<span class="input-small uneditable-input right">{{ producto.precioRBR? producto.precioRBR|number_format(2,',','.'): '' }} R$</span><br/>
					<span class="input-small uneditable-input right">{{ producto.precioGBP? producto.precioGBP|number_format(2,',','.'): '' }} &pound;</span>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary"><i class="icon-pencil"></i> Editar</button>
				<a href="#" onclick="remove({{ producto.id }}); return false" class="btn btn-warning"><i class="icon-trash"></i> Borrar</a>
				<a href="{{ ('/manager/codigosPromocionales/index?id='~producto.id)|basePath }}" class="btn btn-info">Códigos promocionales</a>
				<a href="{{ ('/manager/paquetes/index?id='~producto.id)|basePath }}" class="btn btn-info">Paquetes</a>
				<a href="{{ '/manager/productos/main'|basePath }}" class="btn"><i class="icon-repeat"></i> Volver</a>
			</div>
		</fieldset>
	</form>
	
	<form id="removeForm" method="get" action="{{ '/manager/productos/delete'|basePath }}">
		<input type="hidden" name="id">
	</form>
	<script type="text/javascript">
	    function remove(id) {
	    	if (confirm("¿Desea eliminar este producto?")) {
		        $('#removeForm input[name="id"]').val(id);
		        $('#removeForm').submit();
	    	}
	    }
	</script>
	
{% endblock %}
