<!DOCTYPE html>
<html lang="es-ES">
    <head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Acceso gestor web Spanischool</title>
		<link href="{{ '/resources/lib/bootstrap/css/bootstrap.min.css'|basePath }}" rel="stylesheet" type="text/css">
		<link href="{{ '/resources/lib/bootstrap/css/bootstrap-responsive.min.css'|basePath }}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="hero-unit" style="width:220px; margin: 200px auto">
			<p>Acceso al gestor</p>
			<form method="post" action="{{ '/manager/check'|basePath }}">
				Nombre: <input type="text" name="login"><br/>
				Clave: <input type="password" name="passwd"><br/>
				<input type="submit" value="Aceptar" class="btn btn-primary btn-large">
			</form>
			{% if error is defined %}
				<div class="alert alert-error">{{ error }}</div>
			{% endif %}
		</div>
	</body>
</html>
